<style type="text/css">
	.staticDiv{
		display: inline-block;
		/*margin-left: 2%;*/
	}
	.appDiv{
		display: inline-block;
    	/*margin-left: 2%;*/
	}
	.app{
		display: inline;
	}
	.add{
		display: inline-block;
		/*margin: 0px auto;*/
		/*margin-left: 1%;*/
	}
	.addh3{
		display: inline;
	}
	.cont{
	    display: inline-block;
	    vertical-align: top;
		margin-top: 3%;
		height: 218px;
	}
	.subDiv{
		display: inline-block;
	}
	.left{
		display: inline-block;
	}
	.addGuests{
		/*text-align: center;*/
		margin-top: 15px;
	}
/*	.reminder{
		display: inline;
	}*/
	.form-check{
		display: inline;
	}
	.form-check label{
		margin-right: 5%;
		font-weight: bold;
	}
</style>
<!-- <div class="container"> -->
<div class="addGuests">
<% if @guests.empty? %>
<h3 class="">Please add all guests you plan on booking for:</h3>
<% else %>
<h3 class="">Guest List</h3>
<% end %>
<button class="btn btn-primary add">Add More Guests</button>
<button class="btn btn-primary submitAdd">Submit Guest List</button>
<% if flash[:errors] %>
<p><%= flash[:errors] %></p>
<% end %>
</div>
<div class="row">
<!-- <div class="col-md-2"></div> -->
	<form action="/guests/create" method="POST" id="guestCreateForm">
<div class="cont col-md-3 staticDiv">
	<% y = 0 %>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group">
            <label for="email" class=" control-label">
                First Name</label>
            <div class="">
                <input name="guest[first<%= y %>]" type="text" class="form-control" id="first<%= y %>" placeholder="First Name" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class=" control-label">
                Last Name</label>
            <div class="">
                <input name="guest[last<%= y %>]" type="text" class="form-control" id="last<%= y %>" placeholder="Last Name" />
            </div>
        </div>
        <!-- <div class="form-group">             -->
        <div class="radio">
                <div class="form-check form-check-inline">
			      <label class="form-check-label">
			        <input type="radio" class="form-check-input" name='guest[type<%= y %>]' value='Child' required>
			        Child
			      </label>
			    </div>
			    <div class="form-check form-check-inline">
			      <label class="form-check-label">
			        <input type="radio" class="form-check-input" name='guest[type<%= y %>]' value='Adult'>
			        Adult
			      </label>
			    </div>
			<label for="guest[type<%= y %>]" class="error" style="display:none; font-weight:bold; color:black">* Please pick an option above</label>
            </div>
         <!-- </div> -->
<!-- 		First Name: <input type='text' name='guest[first<%= y %>]'>
		Last Name: <input type='text' name='guest[last<%= y %>]'>
		Child: <input type='radio' name='guest[type<%= y %>]' value='Child' />
		Adult: <input type='radio' name='guest[type<%= y %>]' value='Adult' /> -->
	</div>
	<div class="app"></div>
<!-- </div> -->
<!-- <div class="col-md-2"></div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- <div class="subDiv"><input type="submit" value="Submit" class="btn btn-primary"></div> -->
<!-- </div> -->
</form>
</div>
<!-- </div> -->
<script type="text/javascript">
	$(document).ready(function(){
    $('#guestCreateForm').validate({
        rules: {
            "guest[first<%= y %>]": {
                required: true,
            },
            "guest[last<%= y %>]": {
                required: true,
            }

        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            $(element).closest('.radio').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
            element.closest('.radio').removeClass('has-error').addClass('has-success');
        }
    });
		var x = <%= y %>;
		x++;
		$('.add').click(function(){
			$('.app').append("<div class='cont col-md-3 staticDiv'><button type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button><div class='form-group'><label for='email' class=' control-label'>First Name</label><div class=''><input name='guest[first" + x + "]' type='text' class='form-control' id='first" + x + "' placeholder='First Name'  required='true'/></div></div><div class='form-group'><label for='email' class=' control-label'>Last Name</label><div class=''><input name='guest[last" + x + "]' type='text' class='form-control' id='last" + x + "' placeholder='Last Name' required='true'/></div></div><div class='radio'><div class='form-check form-check-inline'><label class='form-check-label'><input type='radio' class='form-check-input' name='guest[type" + x + "]' value='Child' required>Child</label></div><div class='form-check form-check-inline'><label class='form-check-label'><input type='radio' class='form-check-input'  name='guest[type" + x + "]' value='Adult'>Adult</label></div><label for='guest[type" + x + "]' class='error' style='color:black; display:none; font-weight:bold'>* Please pick an option above</label></div></div>");
			x++;
			$(".close").click(function(){
		    	$(this).parent().remove();
	    	});
	    	firstString = "#first" + x;
	    	console.log(firstString);
			$(firstString).rules("add", { 
			  required: true,
			});	
			$("#last" + x).rules("add", { 
			  required: true,
			});
		})
		$('.submitAdd').click(function(){
			$('#guestCreateForm').validate();
			$('#guestCreateForm').submit();
		})
	})
	// $(document).on('ready', function(){
	// 	// $(".close").click(function(){
	// 	//     $(this).parent().remove();
	//  //    });
	// })
</script>