<style type="text/css">
	.contactHeaderRow{
		text-align: center;
	}
	.textDiv{
		/*padding: 2%;*/
	}
	.textDiv{
		/*text-align: center;*/
	}
	.confP{
		margin-top: 1%;
	}
	.smallH{
		text-align: center;
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.ty{
		margin-top: 3%;
	}
	.bottom{
		/*margin-top: 3%;*/
		margin-bottom: 5%;
	}
	.table>thead>tr>th {
		border-bottom: none; 
	}
	#stripeDiv{
    	/*height: 165px;*/
		/*float: right;*/
		text-align: center;
	}
	.red{
		color: red;
	}
	.notFound{
		text-align: center;
	}
	    html {
    	position: relative;
	  min-height: 100%;
	}
	body{
		height: 100%;
		padding-bottom: 38px;
	}
    footer{
      background-color: #0275d8;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 2%;
    }
	#stripeDiv input{
		margin: 0px auto;
	}
	.stripeRow{
		margin-bottom: 5%;
	}
	.confRow{
		text-align: center;
		margin-bottom: 3%;
	}
	.green{
		color: green;
	}
</style>
<% if @team.mail_confirmation %>
<!-- <a href="/conf"><button class="btn btn-primary">Send Another Confirmation Email</button></a> -->
<% end %>
</div>
<div class="col-md-2">
</div>
</div>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
<% if @user_rooms.empty? %>
<h3 class="notFound">You haven't booked any rooms.</h3>
<h4 data-turbolinks="false" class="notFound">If you need to checkout, go to your <a href="http://www.oasiscup.com/cart">cart</a>, or book more <a href='hotels'>rooms.</a></h4>
<% else %>
<h3>Name: <%= @user.first %> <%= @user.last %></h3>
<h3>Team: <%= @user.team.name %></h3>
<% @checkTax = 0.05 %>
<% @totalForCheck = (@total_user*3) %>
<% @taxForTotalCheck = (@tax_user*3) %>
<% @discount = (@totalForCheck + @taxForTotalCheck) * @checkTax %>
<% if @user.user_balance %>
<h4><%= @user.first %> <%= @user.last %> has a pending balance of <span class="green"><%= number_to_currency(@user.user_balance, :precision => 2) %></span></h4>
<% if @user.user_balance == (@totalForCheck + @taxForTotalCheck) %>
<h4>User has made no down payment, rooms requested on <%= Date.today %></h4>
<% end %>
<% end %>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Confirmation</th>
			<th>Hotel</th>
			<th>Address</th>
			<th>Smoking</th>
			<th>Adults</th>
			<th>Children</th>
			<th>Type</th>
			<th>Status</th>
			<th>Price Per Night</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<% @total_balance_due = 0 %>
		<% @x = 0 %>
		<% @y = 0 %>
		<% @user_rooms.each do |val| %>
		<tr>
		<td><%= val.conf_code %></td>
		<td><a href="http://www.oasiscup.com/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.smoking %></td>
		<td><%= val.occupancy_a %></td>
		<td><%= val.occupancy_c %></td>
		<td><%= val.room_type %></td>
		<% if val.paid_status %>
		<td class="green">Paid</td>
		<% @x += 1 %>
		<% else %>
		<td class="red">Payment Pending</td>
		<% @y += 1 %>
			<% @total_balance_due += val.price*2 %>
		<% end %>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<% @depositTax = @tax_user %>
			<td></td>
			<td>Tax:</td>
			<td><%= number_to_currency(@tax_user, :precision => 2) %></td>
			<% @nightlyTax = @tax_user %>
			<% @tax_user = @tax_user * 3 %>
			<td><%= number_to_currency(@tax_user, :precision => 2) %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<% @paid = @total_user+@nightlyTax %>
			<td class="green"><%= number_to_currency(@total_user+@nightlyTax, :precision => 2) %></td>
			<% @depositTotal = (@total_user + @depositTax).round(2) %>
			<% @total_user = @total_user * 3 %>
			<% @total_user += @tax_user %>
			<td class="green"><%= number_to_currency(@total_user, :precision => 2) %></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="col-md-1">
</div>
</div>
<% if @user.user_balance %>
<% end %>
<!-- <div class="row confRow"> -->
<%# if @user.team.mail_confirmation %>
<!-- <a href="/conf"><button class="btn btn-primary">Send Another Confirmation Email</button></a> -->
<!-- </div> -->
<%# end %>
<% end %>
  <h2>Your Guests</h2>
  <div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th style="padding: 3%">First Name</th>
      <th style="padding: 3%">Last Name</th>
      <th style="padding: 3%">Child/Adult</th>
    </tr>
  </thead>
  <tbody>
    <% @user.guests.each do |val| %>
    <tr>
    <td style="padding: 3%"><%= val.first %></td>
    <td style="padding: 3%"><%= val.last %></td>
    <td style="padding: 3%"><%= val.guest_type %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>