<style type="text/css">
    html {
    	position: relative;
	  min-height: 100%;
	}
	body{
		height: 100%;
		padding-bottom: 38px;
	}
    footer{
      background-color: #0275d8;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 2%;
    }
	.green{
		color: green;
	}
	.red{
		color: red;
	}
	.payDiv{
		float: right;
		text-align: right;
	}
	.payDiv form{
		margin-top: 5%;
	}
	.paidNotice{
		float: right;
	}
	.checkHeader{
		float: right;
	}
</style>
<div class="con">
	<div class="row">
		<div class="col-md-6">
			<h2>User#<%= @user.id %></h2>
			<h3>Name: <%= @user.first %> <%= @user.last %></h3>
			<h3>Email: <%= @user.email %></h3>
			<h3>Phone Number: <%= @user.phone_number %></h3>
			<h3>Joined: <%= @user.created_at.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %></h3>
			<% if @user.user_balance %>
			<h3>Balance Due: <span class="green"><%= number_to_currency(@user.user_balance, :precision => 2) %></span></h3>
			<% end %>
			<h3>Paid Down Payment: <% if @user.down_payment_status %>Yes<% else %>No<% end %></h3>
		</div>
		<div class="col-md-6">
			<h2>Team: <%= @user.team.name %></h2>
			<h3>Exempt: <% if @user.team.exempt %><%= @user.team.exempt %><% else %>No<% end %></h3>
			<h3>Mailed Tournament Confirmation: <% if @user.team.mail_confirmation %> Yes<% else %> No<% end %></h3>
			<h3>Team has booked <%= @user.team.books.length %> rooms</h3>
			<a href="/admins/mail_user_report/<%= @user.id %>"><button class="btn btn-primary">Mail Me User Info</button></a>
		</div>
	</div>
	<hr>
	<h2>Booked Rooms:</h2>
		<% if @user.books.length == 0 %>
			<h3>No booked rooms </h3>
		<% else %>
			<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Confirmation</th>
						<th>Hotel</th>
						<th>Address</th>
						<th>Smoking</th>
						<th>Adults</th>
						<th>Children</th>
						<th>Type</th>
						<th>Status</th>
						<th>Price Per Night</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
			  		<% @booked_rooms = Book.where(team_id: @user.team.id) %>
			  		<% @user_rooms = Book.where(user_id: @user.id) %>
			  		<% @total = 0 %>
			  		<% @tax = 0 %>
			  		<% 	@booked_rooms.each do |val| %>
			  		<% 	@roomTax = val.hotel.tax %>
					<% 	@tax += @roomTax * val.price %>
			  		<% 		@total += val.price %>
			  		<% 	end %>
			  		<% @total_user = 0 %>
			  		<% @tax_user = 0 %>
			  		<% 	@user_rooms.each do |val| %>
			  		<% 		@userRoomTax = val.hotel.tax %>
			  		<% 		@tax_user += @userRoomTax * val.price %>
			  		<% 		@total_user += val.price %>
			  		<% 	end %>
					<% @total_balance_due = 0 %>
					<% val.books.each do |val| %>
					<tr>
					<td><%= val.conf_code %></td>
					<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
					<td><%= val.hotel.address %></td>
					<td><%= val.smoking %></td>
					<td><%= val.occupancy_a %></td>
					<td><%= val.occupancy_c %></td>
					<td><%= val.room_type %></td>
					<% if @user.user_balance %>
					<td class="red">Balance Due</td>
						<% @total_balance_due += val.price*2 %>
					<% else %>
					<td class="green">Paid</td>
					<% end %>
					<td><%= number_to_currency(val.price, :precision => 2) %></td>
					<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
					</tr>
					<% end %>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<% @depositTax = @tax_user %>
						<td></td>
						<td>Tax:</td>
						<td><%= number_to_currency(@tax_user, :precision => 2) %></td>
						<% @nightlyTax = @tax_user %>
						<td><%= number_to_currency((@tax_user * 3), :precision => 2) %></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total:</td>
						<% @paid = @total_user+@nightlyTax %>
						<td class="green"><%= number_to_currency(@total_user+@nightlyTax, :precision => 2) %></td>
						<% @depositTotal = (@total_user + @depositTax).round(2) %>
						<% @total_user = @total_user * 3 %>
						<% @total_user += @tax_user * 3 %>
						<td class="green"><%= number_to_currency(@total_user, :precision => 2) %></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		<hr>
		<h2>Cart:</h2>
		<% @cart = @user.carts %>
		<% if @cart.length == 0 %>
			<h3>Cart Is Empty</h3>
		<% else %>
				<% @total = 0 %>
				<% @tax = 0 %>
				<% @cart.each do |val| %>
				<% 	@roomTax = val.hotel.tax %>
				<% 	@tax += @roomTax * val.price %>
				<% 	@total += val.price %>
				<% 	if val.occupancy_c %>
				<% 		session[:c_found] = true  %>
				<% 	end %>
				<% end %>
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Hotel</th>
							<th>Address</th>
							<th>Smoking</th>
							<th>Adults</th>
							<th>Children</th>
							<th>Type</th>
							<th>Price Per Night</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
					<% @totalOccupancy = 0 %>
						<% @cart.each do |val| %>
						<tr>
						<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
						<td><%= val.hotel.address %></td>
						<td><%= val.smoking %></td>
						<td><%= val.occupancy_a %></td>
						<td><%= val.occupancy_c %></td>
						<td><%= val.room_type %></td>
						<td><%= number_to_currency(val.price, :precision => 2) %></td>
						<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
						<% @totalOccupancy += val.occupancy_a.to_i %>
						<% @totalOccupancy += val.occupancy_c.to_i %>
						</tr>
						<% end %>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<% @depositTax = @tax %>
							<td>Tax:</td>
							<td><%= number_to_currency(@tax, :precision => 2) %></td>
							<% @nightlyTax = @tax %>
							<% @tax = @tax * 3 %>
							<td><%= number_to_currency(@tax, :precision => 2) %></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total:</td>
							<td class="green"><%= number_to_currency(@total+@nightlyTax, :precision => 2) %></td>
							<% @depositTotal = (@total + @depositTax).round(2) %>
							<% @total = @total * 3 %>
							<% @total += @tax %>
							<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				</div>
		<% end %>
		<hr>
		<h2>Guests:</h2>
			<% if @user.guests.length == 0 %>
			<h3>No guests on guest list</h3>
			<% else %>
			<div class="row">
			<div class="table-responsive col-md-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>First</th>
							<th>Last</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @user.guests.each do |val| %>
						<tr>
						<td><%= val.first %></td>
						<td><%= val.last %></td>
						<td><%= val.guest_type %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				</div>
				<div class="col-md-6">
				</div>
				</div>
			<% end %>
</div>