<div class='row'>
	<div class="table-responsive">
	<h3>All Users</h3>
	<% if @users.length == 0 %>
		<h4>No Users</h4>
	<% else %>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>First Name</th>
		      <th>Last Name</th>
		      <th>Email</th>
		      <th>Team</th>
		      <th>Joined Site</th>
		      <th>Paid Down Payment</th>
		      <th>Balance</th>
		    </tr>
		  </thead>
		  <tbody>
			<% @users.each do |val| %>
				<tr>
					<td><%= val.first %></td>
					<td><%= val.last %></td>
					<td><%= val.email %></td>
					<td><%= val.team.name %></td>
					<td><%= val.created_at %></td>
					<% if val.down_payment_status %>
						<td>Yes</td>
					<% else %>
						<td>No</td>
					<% end %>
					<% if val.user_balance %>
						<td><%= number_to_currency(val.user_balance, :precision => 2) %></td>
					<% else %>
						<td>$ 0.00</td>
					<% end %>
					<td>
						<form class="form-horizontal" method="post" action="/admins/searchUsers" id="editFormTeam">
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						        <input name="user" type="hidden" class="form-control" id="user[first]" value="<%= val.email %>"/>
						        <button type="submit" class="btn btn-primary">Process</button>
						</form>
					</td>
				</tr>
			<% end %>
		</tbody>
		</table>
	<% end %>
		</div>
</div>