<div class="row">
	<div class="col-sm-12">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Hotel</th>
					<th>Team</th>
					<th>Name</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			<% @teams.each do |val| %>
				<% val.books.each do |inner_val| %>
					<tr>
						<td><%= inner_val.hotel.name %></td>
						<td><%= val.name %></td>
						<td><%= inner_val.user.first %> <%= inner_val.user.last %></td>
						<td><%= inner_val.note %></td>
					</tr>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>