<style type="text/css">
	.adminRow{
		text-align: center;
	}
	.flashErrors{
		margin-top: 2%;
		color: red;
	}
	.btm-row{
		min-height: 139px;
	}
	.ron{
		text-align: center;
		margin-top: 50px;
	}
</style>
<div class="row adminRow">
<h2>Admin Dashboard</h2>
</div>
<div class="row adminRow"> 
<div class="col-md-6">
<h3>User Lookup:</h3>
<form class="form-horizontal" method="post" action="/admins/searchUsers" id="editFormTeam">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
	    <label for="user[first]" class="col-sm-2 control-label">
	        Email:</label>
	    <div class="col-sm-8">
	        <input name="user" type="text" class="form-control" id="user[first]" placeholder="Search by Email" />
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12 modalButtons">
	        <button type="submit" class="btn btn-primary">
	            Search</button>
	    </div>
	</div>
</form>
</div>
<div class="col-md-6">
<h3>Transaction Lookup:</h3>
<form class="form-horizontal" method="post" action="/admins/searchTransactions" id="editFormTeam">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
	    <label for="code" class="col-sm-2 control-label">
	        Confirmation:</label>
	    <div class="col-sm-8">
	        <input name="code" type="text" class="form-control" id="code" placeholder="Confirmation Number" />
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12 modalButtons">
	        <button type="submit" class="btn btn-primary">
	            Search</button>
	    </div>
	</div>
	<% if flash[:errors] %>
	<div class="row flashErrors">
		<div class="col-sm-12">
			<p><%= flash[:errors] %></p>
		</div>
	</div>
	<% end %>
</form>
</div>
</div>
<div class="row adminRow btm-row">
<div class="col-md-6">
<h3>Team By Name:</h3>
<form class="form-horizontal" method="post" action="/admins/searchTeamName" id="editFormTeam">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
	    <label for="name" class="col-sm-2 control-label">
	        Team:</label>
	    <div class="col-sm-8">
	        <input name="name" type="text" class="form-control" id="name" placeholder="Team Name" />
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12 modalButtons">
	        <button type="submit" class="btn btn-primary">
	            Search</button>
	    </div>
	</div>
</form>
</div>
<div class="col-md-6">
<h3>Booked Rooms By Hotel:</h3>
<form class="form-horizontal" method="post" action="/admins/books_by_hotel" id="editFormTeam">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
	    <label for="name" class="col-sm-2 control-label">
	        Hotel:</label>
	    <div class="col-sm-8">
	    	<select name="hotel_id" class="form-control" id="hotel_id">
	    		<% @hotels.each do |val| %>
	    			<option value="<%= val.id %>"><%= val.name %></option>
	    		<% end %>
	    	</select>
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12 modalButtons">
	        <button type="submit" class="btn btn-primary">
	            Search</button>
	    </div>
	</div>
</form>
</div>
<!-- <div class="col-md-6"> -->
<!-- <h3>Team By Confirmation Number:</h3>
<form class="form-horizontal" method="post" action="/admins/searchTeamConf" id="editFormTeam">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
	    <label for="conf" class="col-sm-2 control-label">
	        Confirmation Number:</label>
	    <div class="col-sm-8">
	        <input name="conf" type="text" class="form-control" id="conf" placeholder="Team Name" />
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12 modalButtons">
	        <button type="submit" class="btn btn-primary">
	            Search</button>
	    </div>
	</div>
</form>
</div> -->
</div>
<hr>
<div class="row adminRow">
	<div class="col-md-6">
		<h4><a href="/admins/endOfDay">Last Night / Today / End of Day Report</a></h4>
		<h4><a href="/admins/yesterday">Yesterday's Report</a></h4>
		<h4><a href="/admins/monday">Weekend / 3 Day Report</a></h4>
		<h4><a href="/rooms">Website Prices</a></h4>
	</div>
	<div class="col-md-6">
		<h4><a href="/admins/allUsers">All Users / Overview</a></h4>
		<h4><a href="/admins/Balance">Users With Outstanding Balance</a></h4>
		<h4><a href="/admins/noDown">Users Who Need To Pay Down Payment</a></h4>
		<h4><a href="/admins/ten_days">Users Who Are Over 7 Days</a></h4>
	</div>
</div>
<div class="row adminRow">
	<div class="col-md-6">
		<a href="/admins/mailEndOfDay"><button class="btn btn-primary">Mail End of Day Report</button></a>
	</div>
	<div class="col-md-6">
		<%# if session[:user_id] == 9 %>
			<a href="/admins/one_week_warning"><button class="btn btn-primary">Mail 10 Day Warning</button></a>
		<%# end %>
	</div>
</div>
<div class="row adminRow">
	<di class="col-sm-12 ron">
		<h4><a href="/overview">Ron's Report</a></h4>
	</di>
</div>