<style type="text/css">
    html {
    	position: relative;
	  min-height: 100%;
	}
	body{
		height: 100%;
		padding-bottom: 38px;
	}
    footer{
      background-color: #0275d8;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 2%;
    }
	.green{
		color: green;
	}
	.red{
		color: red;
	}
	.payDiv{
		float: right;
		text-align: right;
	}
	.payDiv form{
		margin-top: 5%;
	}
	.paidNotice{
		float: right;
	}
	.checkHeader{
		float: right;
	}
</style>
<div class="con">
<% @users.each do |val| %>
	<% @user = val %>
	<div class="row">
		<div class="col-md-6">
			<% @id = val.id %>
			<h2>User#<%= val.id %></h2>
			<h3>Name: <%= val.first %> <%= val.last %></h3>
			<h3>Email: <%= val.email %></h3>
			<h3>Phone Number: <%= val.phone_number %></h3>
			<h3>Joined: <%= val.created_at.strftime("%B #{val.created_at.day.ordinalize}, %Y") %></h3>
			<% if val.user_balance %>
			<h3>Balance Due: <span class="green"><%= number_to_currency(val.user_balance, :precision => 2) %></span></h3>
			<% end %>
			<h3>Paid Down Payment: <% if val.down_payment_status %>Yes<% else %>No<% end %></h3>
		</div>
		<div class="col-md-6">
			<h2>Team: <%= val.team.name %></h2>
			<h3>Exempt: <% if val.team.exempt %><%= val.team.exempt %><% else %>No<% end %></h3>
			<h3>Mailed Tournament Confirmation: <% if val.team.mail_confirmation %> Yes<% else %> No<% end %></h3>
			<h3>Team has booked <%= val.team.books.length %> rooms</h3>
			<h3>User has booked <%= val.books.length %> rooms</h3>
			<a href="/admins/mail_user_report/<%= val.id %>"><button class="btn btn-primary">Mail Me User Info</button></a>
			<% if flash[:mailed] %>
				<h4>Mail Sent!</h4>
			<% end %>
			<h3>User info sent to hotel: <% if val.email_hotel_conf %>Yes<% else %>No<% end %></h3>
			<% if val.email_hotel_conf %>
				<a href="/admins/hotel_not_mailed/<%= val.id %>"><button class="btn btn-primary">Not Sent</button></a>
			<% else %>
				<a href="/admins/hotel_mailed/<%= val.id %>"><button class="btn btn-primary">Sent</button></a>
			<% end %>
		</div>
	</div>
	<hr>
	<h2>Booked Rooms:</h2>
		<% if val.books.length == 0 %>
			<h3>No booked rooms </h3>
		<% else %>
			<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Confirmation</th>
						<th>Hotel</th>
						<th>Address</th>
						<th>Smoking</th>
						<th>Adults</th>
						<th>Children</th>
						<th>Type</th>
						<th>Status</th>
						<th>Price Per Night</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
			  		<% @booked_rooms = Book.where(team_id: val.team.id) %>
			  		<% @user_rooms = Book.where(user_id: val.id) %>
			  		<% @total = 0 %>
			  		<% @tax = 0 %>
			  		<% 	@booked_rooms.each do |val| %>
			  		<% 	@roomTax = val.hotel.tax %>
					<% 	@tax += @roomTax * val.price %>
			  		<% 		@total += val.price %>
			  		<% 	end %>
			  		<% @total_user = 0 %>
			  		<% @tax_user = 0 %>
			  		<% 	@user_rooms.each do |val| %>
			  		<% 		@userRoomTax = val.hotel.tax %>
			  		<% 		@tax_user += @userRoomTax * val.price %>
			  		<% 		@total_user += val.price %>
			  		<% 	end %>
					<% @total_balance_due = 0 %>
					<% val.books.each do |val| %>
						<tr>
						<td><%= val.conf_code %></td>
						<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
						<td><%= val.hotel.address %></td>
						<td><%= val.smoking %></td>
						<td><%= val.occupancy_a %></td>
						<td><%= val.occupancy_c %></td>
						<td><%= val.room_type %></td>
						<% if @user.user_balance %>
						<td class="red">Balance Due</td>
							<% @total_balance_due += val.price*2 %>
						<% else %>
						<td class="green">Paid</td>
						<% end %>
						<td><%= number_to_currency(val.price, :precision => 2) %><br>Tax: <%= number_to_currency(val.price*val.hotel.tax, :precision => 2) %><br><span class="green">Total: <%= number_to_currency(val.price+(val.price*val.hotel.tax), :precision => 2) %></span></td>
						<td><%= number_to_currency(val.price*3, :precision => 2) %><br>Tax: <%= number_to_currency((val.price*3)*val.hotel.tax, :precision => 2) %><br><span class="green">Total: <%= number_to_currency((val.price*3)+((val.price*3)*val.hotel.tax), :precision => 2) %></span></td>
						<td><form action="/book_rooms/cancel/<%= val.id %>" method="POST" class="cancelForm">
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="deduct" value="<%= (val.price*3) + ((val.price*3) * val.hotel.tax) %>" type="hidden">
								<button type="submit" class="btn btn-danger" data-confirm="Are you sure?">Cancel</button>
							</form>
						</td>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<% @depositTax = @tax_user %>
						<td></td>
						<td>Tax:</td>
						<td><%= number_to_currency(@tax_user, :precision => 2) %></td>
						<% @nightlyTax = @tax_user %>
						<td><%= number_to_currency((@tax_user * 3), :precision => 2) %></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total:</td>
						<% @paid = @total_user+@nightlyTax %>
						<td class="green"><%= number_to_currency(@total_user+@nightlyTax, :precision => 2) %></td>
						<% @depositTotal = (@total_user + @depositTax).round(2) %>
						<% @total_user = @total_user * 3 %>
						<% @total_user += @tax_user * 3 %>
						<td class="green"><%= number_to_currency(@total_user, :precision => 2) %></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<% if @user.user_balance %>
				<% if @user.user_balance != @total_user %>
				<div class="payDiv">
					<form id="checkout" method="post" action="/cart/paid_balance">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name="amount" value="<%= (@user.user_balance) %>" type="hidden">
					<input name="tax" value="<%= (@tax_user * 2) %>" type="hidden">
					<input name="u_id" value="<%= @id %>" type="hidden">
					<div id="payment-form"></div>
					<div id="payButtonDiv"><input type="submit" class="btn btn-primary payButton" value="Pay Balance: <%= number_to_currency(@user.user_balance, :precision => 2) %>" data-confirm="Are you sure?"></div>
					</form>
				</div>
				<% else %>
				<div class="payDiv">
					<form id="checkout" method="post" action="/cart/first_night">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name="amount" value="<%= (@user.user_balance/3) %>" type="hidden">
					<input name="tax" value="<%= (@tax_user) %>" type="hidden">
					<input name="u_id" value="<%= @id %>" type="hidden">
					<div id="payment-form"></div>
					<div id="payButtonDiv"><input type="submit" class="btn btn-primary payButton" value="First Night Down Payment: <%= number_to_currency(@user.user_balance/3, :precision => 2) %>" data-confirm="Are you sure?"></div>
					</form>
					<form id="checkout" method="post" action="/cart/paid_full">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name="amount" value="<%= @user.user_balance %>" type="hidden">
					<input name="tax" value="<%= (@tax_user * 3) %>" type="hidden">
					<input name="u_id" value="<%= @id %>" type="hidden">
					<div id="payment-form"></div>
					<div id="payButtonDiv"><input type="submit" class="btn btn-primary payButton" value="Pay in Full: <%= number_to_currency(@user.user_balance, :precision => 2) %>" data-confirm="Are you sure?"></div>
					</form>
				</div>
				<% end %>
			<% else %>
			<h3 class="paidNotice">User has paid in full</h3>
				<% end %>
				</div>
			<% end %>
		<hr>
		<h2>Cart:</h2>
		<% @cart = val.carts %>
		<% if @cart.length == 0 %>
			<h3>Cart Is Empty</h3>
		<% else %>
				<% @total = 0 %>
				<% @tax = 0 %>
				<% @cart.each do |val| %>
				<% 	@roomTax = val.hotel.tax %>
				<% 	@tax += @roomTax * val.price %>
				<% 	@total += val.price %>
				<% 	if val.occupancy_c %>
				<% 		session[:c_found] = true  %>
				<% 	end %>
				<% end %>
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Hotel</th>
							<th>Address</th>
							<th>Smoking</th>
							<th>Adults</th>
							<th>Children</th>
							<th>Type</th>
							<th>Price Per Night</th>
							<th>Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<% @totalOccupancy = 0 %>
						<% @cart.each do |val| %>
						<tr>
						<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
						<td><%= val.hotel.address %></td>
						<td><%= val.smoking %></td>
						<td><%= val.occupancy_a %></td>
						<td><%= val.occupancy_c %></td>
						<td><%= val.room_type %></td>
						<td><%= number_to_currency(val.price, :precision => 2) %></td>
						<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
						<% @totalOccupancy += val.occupancy_a.to_i %>
						<% @totalOccupancy += val.occupancy_c.to_i %>
						<td><form action="/cart/cancel/<%= val.id %>" method="POST" class="cancelForm">
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<button type="submit" class="btn btn-danger" data-confirm="Are you sure?">Remove</button>
							</form>
						</td>
						</tr>
						<% end %>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<% @depositTax = @tax %>
							<td>Tax:</td>
							<td><%= number_to_currency(@tax, :precision => 2) %></td>
							<% @nightlyTax = @tax %>
							<% @tax = @tax * 3 %>
							<td><%= number_to_currency(@tax, :precision => 2) %></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total:</td>
							<td class="green"><%= number_to_currency(@total+@nightlyTax, :precision => 2) %></td>
							<% @depositTotal = (@total + @depositTax).round(2) %>
							<% @total = @total * 3 %>
							<% @total += @tax %>
							<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				</div>
		<% end %>
		<hr>
		<h2>Guests:</h2>
			<% if val.guests.length == 0 %>
			<h3>No guests on guest list</h3>
			<% else %>
			<div class="row">
			<div class="table-responsive col-md-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>First</th>
							<th>Last</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% val.guests.each do |val| %>
						<tr>
						<td><%= val.first %></td>
						<td><%= val.last %></td>
						<td><%= val.guest_type %></td>
						<td><form action="/guests/delete/<%= val.id %>" method="POST" class="cancelForm"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"><button type="submit" class="btn btn-danger btn-sm" data-confirm="Are you sure?">Remove</button></form></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				</div>
				<div class="col-md-6">
				</div>
				</div>
			<% end %>
<% end %>
</div>