<style type="text/css">
	.editHeader{
		text-align: center;
	}
	.modalButtons{
		text-align: center;
	}
	.has-success{
		margin-bottom: 0px;
	}
	.form-group{
		margin-bottom: 0px !important;
		height: 60px;
	}
	label{
		padding-top: 0px !important;
	}
	.conf_num{
		text-align: center;
	}
</style>
<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-4">
<h3 class="editHeader">Edit User Info</h3>
<form class="form-horizontal" method="post" action="/users" id="editForm">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input name="_method" value="patch" type="hidden">
	<div class="form-group">
	    <label for="user[first]" class="col-sm-3 control-label">
	        First Name</label>
	    <div class="col-sm-9">
	        <input name="user[first]" type="text" class="form-control" id="user[first]" value="<%= @user.first %>" />
	    </div>
	</div>
	<div class="form-group">
	    <label for="user[last]" class="col-sm-3 control-label">
	        Last Name</label>
	    <div class="col-sm-9">
	        <input name="user[last]" type="text" class="form-control" id="user[last]" value="<%= @user.last %>" />
	    </div>
	</div>
	<div class="form-group">
	    <label for="user[email]" class="col-sm-3 control-label">
	        Email</label>
	    <div class="col-sm-9">
	        <input name="user[email]" type="email" class="form-control" id="user[email]" value="<%= @user.email %>" />
	    </div>
	</div>
	<div class="form-group">
	    <label for="user[password]" class="col-sm-3 control-label">
	        Password</label>
	    <div class="col-sm-9">
	        <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password" />
	    </div>
	</div>
	<div class="form-group">
	    <label for="user[password_confirmation]" class="col-sm-3 control-label">
	        Password Confirmation</label>
	    <div class="col-sm-9">
	        <input name="user[password_confirmation]" type="password" class="form-control passwordconf" id="user[password_confirmation]" placeholder="Password Confirmation" />
	    </div>
	</div>
<!-- 	<div class="form-group">
	    <label for="user[team]" class="col-sm-3 control-label">
	        Team Name</label>
	    <div class="col-sm-6">
	        <input name="user[team]" type="text" class="form-control" id="user[team]" value="<%= @user.team %>" />
	    </div>
	</div> -->
	<div class="row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-9 modalButtons">
	        <button type="submit" class="btn btn-primary btn-sm">
	            Update</button>
	    </div>
	    <div class="col-sm-3">
	    </div>
	</div>
</form>
</div>
<div class="col-sm-4">
<h3 class="editHeader">Edit Team Info</h3>
<form class="form-horizontal" method="post" action="/users/teams" id="editFormTeam">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input name="_method" value="patch" type="hidden">
	<div class="form-group">
	    <label for="user[first]" class="col-sm-2 control-label">
	        Team Name</label>
	    <div class="col-sm-10">
	        <input name="name" type="text" class="form-control" id="user[first]" value="<%= @user.team.name %>" />
	    </div>
	</div>
	<div class="form-group">
		<label for="team[conf]" class="col-sm-2 control-label">
		Conf. Number</label>
		<div class="col-sm-10">
			<h4 class="conf_num"><%= @user.team.conf_num %></h4>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-10 modalButtons">
	        <button type="submit" class="btn btn-primary btn-sm">
	            Update</button>
	    </div>
	</div>
    </form>
</div>
<div class="col-sm-2">
</div>
</div>
<% if flash[:errors] %>
	<% if flash[:errors].any? %>
	  <% flash[:errors].each do |error_message| %>
	    <%= error_message %> <br />
	  <% end %>
	<% end %>
<% end %>
<script type="text/javascript">
$(document).on('turbolinks:load', function() {
    $('#editForm').validate({
        rules: {
            "user[email]": {
                required: true,
                email: true
            },
            "user[password]": {
                required: true
            },
            "user[password_confirmation]": {
            	required: true
            },
            "user[first]": {
            	required: true
            },
            "user[last]": {
            	required: true
            },
            "user[team]": {
            	required: true
            }

        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
    $('#editFormTeam').validate({
        rules: {
            "name": {
                required: true,
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
	$(".passwordconf").rules("add", { 
	  equalTo: "#password"
	});
});
</script>