<meta name="description" content="Welcome to the 2017 Oasis Cup Tournament!  This wonderful tournament will be played in Palm Desert California where the weather is great and the fields are even better!">
<meta name="keywords" content="Oasis,Cup,Oasis Cup,Oasis Cup Palm,Oasis Cup Palm Desert,oasiscup.com,www.oasiscup.com,soccer,tournament,soccer tournament,palm,springs,palm springs">
<style type="text/css">
	.landingimg img{
		width: 100%;
		display: block;
		margin-top: 0!important;
	}
	.text{
		/*background-color: black;*/
		padding: 3%;
	}
    .text ul{
        padding-left: 0px;
    }
    .bottom{
        padding-top: 0px;
    }
.img-wrapper {
  position: relative;
 }

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 35%;
}
.btn-responsive {
  /* matches 'btn-md' */
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.header-img {
  /* matches 'btn-md' */
  padding: 3px 16px;
  /*font-size: 18px;*/
  line-height: 1.3333333;
  border-radius: 6px;
  color: white;
}

.header-img-h2 {
  /* matches 'btn-md' */
  padding: 10px 16px;
  /*font-size: 18px;*/
  line-height: 1.3333333;
  border-radius: 6px;
  color: white;
  margin-top: 5px;
}

.tab-content{
	margin-top: 1%;
}

@media (max-width:760px) { 
    /* matches 'btn-xs' */
    .btn-responsive {
        padding: 1px 5px;
        line-height: 1.5;
        border-radius: 3px;
    }
    .header-img {
        padding: 1px 5px;
        /*font-size: 12px;*/
        line-height: 1.5;
        border-radius: 3px;
    }
    .landingimg img{
        min-height: 100px
    }
}
@media (min-width:660px) { 
    .landingimg img{
        min-height: 450px
    }
}
.form-horizontal .control-label{
	padding-top: 0px!important;
}
.nav-tabs{
	border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none;
}

.modalButtons{
	text-align: center;
}

#errorModal{
	text-align: center;
}

.errModalBody{
	color: red;
}

.has-success{
	margin-bottom: 0px!important;
}

#errorModalLabel{
	display: inline;
}
.img-overlay:before{
    height: 10%;
}
.form-group{
    margin-bottom: 0px !important;
    height: 60px;
}
.form-check-inline{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 20px;
    font-size: 12px;
}
.form-check-input{
    display: inline;
}
.forgot{
    float: right;
}
/*.tinyHeader{
    text-align: center;
}*/
.invis{
    visibility: hidden;
}
.main-col{
    padding: 0px;
}

.container{
    width: 100%;
}
strong{
    /*display: inline-block;*/
}
p{
    text-align: justify;
}
.col-md-4{
    padding-top: 10px;
}
.header-img-text{
    font-weight: 800;
}
.navbar{
    background-color: transparent !important;
}
body{
    padding-top: 0px;
}
.up{
    background-color: #003b8f !important;
}
.top-header-img{
    margin-top: 80px;
}
.example3 ul.nav a:hover{
    background-color: transparent !important;
}
.example3 .nav .open>a {
    background-color: transparent !important;
}
.dropdown-menu>li>a:hover {
    color: #262626 !important;
    text-decoration: none;
    /*background-color: #f5f5f5;*/
}
.dropdown-menu>li>a{
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
}
.clear-button{
    background-color: transparent;
    border-color: white;
}
.btn-primary:hover{
    /*background-color: orange;*/
    /*border-color: white;*/
}
.tiny-pre-team{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
}
.team-drop-down{
    width: 100%;
    height: 34px;
}
</style>
<div class="row img-wrapper">
<div class="col-md-12 main-col">
<span class='landingimg'><%= image_tag("soccerBall2crop.jpg") %>
</span>
<div class="img-overlay">
<h1 class='header-img-text header-img top-header-img'>OASIS CUP</h1>
<h3 class='header-img-text header-img-h2'>PALM DESERT CA</h3>
<h3 class='header-img-text header-img-h2'>JANUARY 12-15 2018</h3>
<% if session[:user_id] %>
<a href="/hotels"><button class="btn btn-primary btn-responsive regButton clear-button">Book Rooms</button></a>
<% else %>
<button class="btn btn-primary btn-responsive regButton clear-button" data-toggle="modal" data-target="#myModal">Register</button>
<button class="btn btn-primary btn-responsive loginButton clear-button" data-toggle="modal" data-target="#myModal">Login</button>
<% end %>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-4 text">
    <h2 class="tinyHeader"><strong>Welcome!</strong></h2>
    <p>Welcome to the 2018 Oasis Cup Tournament!  This wonderful tournament will be played in Palm Desert California where the weather is great and the fields are even better!  This event is a <strong>"Stay & Play"</strong> Tournament.  All teams are required to book through Archer Travel Service, Inc. Your full cooperation is expected. <strong>Final</strong> acceptance into the event will be granted after your hotel reservations are confirmed.  This is in agreement & partnership with Crescenta Valley SC and the Director of the Oasis Cup respectively.</p>
    </div>
    <div class="col-md-4 text">
    <h2 class="tinyHeader"><strong>Team Guidelines</strong></h2>
    <ul>
        <% if session[:user_id] %>
        <li><% if @user.team.exempt %>5<% else %>7<% end %> rooms per team with a 3 night minimum stay required</li>
        <% else %>
        <li>7 rooms per team with a 3 night minimum stay required</li>
        <% end %>
        <li>1st night room & tax will be charged within 10 days of registration request.</li>
        <li>Final Payments on the rooms will be due by December 1, 2017</li>
        <li>All guests that are being booked for must be on your <% if session[:user_id] %><a href="/guests/user">guest list</a><% else %>guest list<% end %>.</li>
        <li>Reservations may be made here or by calling 800 272-4377 (800 ARCHERS)</li>
    </ul>
    </div>
    <div class="col-md-4 text">
    <h2 class="tinyHeader"><strong>Finalizing The Reservations</strong></h2>
    <ul>
        <li>We recommend that the <strong>Team Manager</strong> finalize your reservation first with their access code, especially if you are paying for multiple rooms</li>
        <li><strong>Team Managers</strong> are required to work directly with their families to ensure a complete and accurate rooming list</li>
        <li>Any rooms allocated and <strong>NOT CONFIRMED</strong> will be given to other teams on the wait list</li>
        <li>Your families will have <strong>10 days</strong> to finalize their individual reservations</li>
        <li><p>Send an email to our Tournament Director at <a href="mailto:oasiscup@yahoo.com?Subject=Oasis%20Cup" target="_top">oasiscup@yahoo.com</a> when your reservations are complete. Please provide the following information: <strong>Team Name, Age Group, Administrative contact person and e-mail address, Name of hotel where you will be staying, Number of rooms you have booked.</strong></p></li>
    </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-turbolinks="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Login/Registration</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active regTab"><a href="#Registration" data-toggle="tab">Registration</a></li>
                            <li class="loginTab"><a href="#Login" data-toggle="tab">Login</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane" id="Login">
                                <form class="form-horizontal" method="post" action="sessions/new" id="loginForm">
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">
                                        Email</label>
                                    <div class="col-sm-6">
                                        <input name="email" type="email" class="form-control" id="emailLog" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-3 control-label">
                                        Password</label>
                                    <div class="col-sm-6">
                                        <input name="password" type="password" class="form-control" id="passwordLog" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-6 modalButtons">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Login</button>
                                        <!-- <a href="javascript:;">Forgot your password?</a> -->
                                    </div>
                                </div>
                                </form>
                                <a href="/forgot_password" class="forgot" target="_top">Forgot Password ?</a>
                            </div>
                            <div class="tab-pane active" id="Registration">
                                <form class="form-horizontal" method="post" action="users/create" id="registrationForm">
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <div id="team-text-div">
                                    <div class='form-group'>
                                        <label for='team[name]' class='col-sm-3 control-label'>
                                            Team Name</label>
                                        <div class='col-sm-6'>
                                            <input name='team[name]' type='text' class='form-control' id='team[name]' placeholder='Team Name' />
                                        </div>
                                    </div>
                                </div>
                                <h5 class="tiny-pre-team"><a id="pre-reg" href="#">My Team Already Registered</a></h5>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="team[exempt]" value="true" /> My team is local (within 25 miles of Hovley Soccer Park)
                                      </label>
                                    </div>
<!--                                 <div class="form-group">
                                    <label for="team[conf_num]" class="col-sm-3 control-label">
                                        Confirmation Number</label>
                                    <div class="col-sm-6">
                                        <input name="team[conf_num]" type="text" class="form-control" id="team[conf_num]" placeholder="Confirmation Number" />
                                    </div>
                                </div> -->
                            	<div class="form-group">
                                    <label for="user[first]" class="col-sm-3 control-label">
                                        First Name</label>
                                    <div class="col-sm-6">
                                        <input name="user[first]" type="text" class="form-control" id="user[first]" placeholder="First Name" />
                                    </div>
                                </div>
                            	<div class="form-group">
                                    <label for="user[last]" class="col-sm-3 control-label">
                                        Last Name</label>
                                    <div class="col-sm-6">
                                        <input name="user[last]" type="text" class="form-control" id="user[last]" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user[phone_number]" class="col-sm-3 control-label">
                                        Phone Number</label>
                                    <div class="col-sm-6">
                                        <input name="user[phone_number]" type="text" class="form-control" id="user[phone_number]" placeholder="Phone Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user[email]" class="col-sm-3 control-label">
                                        Email</label>
                                    <div class="col-sm-6">
                                        <input name="user[email]" type="email" class="form-control" id="user[email]" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user[password]" class="col-sm-3 control-label">
                                        Password</label>
                                    <div class="col-sm-6">
                                        <input name="user[password]" type="password" class="form-control userpw" id="password" placeholder="Password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user[password_confirmation]" class="col-sm-3 control-label">
                                        Password Confirmation</label>
                                    <div class="col-sm-6">
                                        <input name="user[password_confirmation]" type="password" class="form-control passwordconf" id="user[password_confirmation]" placeholder="Password Confirmation" data-val-equalto-other=".userpw" data-msg-equalto="Passwords do not match"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-6 modalButtons">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Register</button>
<!--                                         <button type="button" class="btn btn-default btn-sm">
                                            Cancel</button> -->
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="errorModalLabel">Something Went Wrong</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body errModalBody">
		<% if flash[:errors] %>
			<% if flash[:errors].any? %>
			  <% flash[:errors].each do |error_message| %>
                <% if error_message == "Email has already been taken" %>
                    <%= error_message %> <br />
                    Please login <br />
                <% else %>
    			    <%= error_message %> <br />
                <% end %>
			  <% end %>
			<% end %>
		<% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	$(document).on('turbolinks:load', function() {
    var switch_reg = 0;
        $('#pre-reg').click(function(){
            if(switch_reg == 0){
                $('#pre-reg').text("My Team Isn't Listed");
                $('#team-text-div').html("<div class='form-group'><label for='team[name]' class='col-sm-3 control-label'>Select Team</label><div class='col-sm-6'><select class='team-drop-down' name='team[name]' id='team[name]'>" + "<% @teams.each do |val| %><% if val.name != 'Archer' %><option><%= val.name %></option><% end %><% end %>" + "</select></div></div>");
            }
            else{
                $('#pre-reg').text("My Team Already Registered");
                $('#team-text-div').html("<div class='form-group'><label for='team[name]' class='col-sm-3 control-label'>Team Name</label><div class='col-sm-6'><input name='team[name]' type='text' class='form-control' id='team[name]' placeholder='Team Name' /></div></div>");
            }
            if(switch_reg == 0){
                switch_reg = 1;
                console.log(switch_reg);
            }
            else{
                switch_reg = 0;
            }
        })
		<% if session[:modalFail] %>
			$('#errorModal').modal('show') 
			<% session[:modalFail] = false %>
		<% end %>
		    $('.loginButton').on('click', function(){
			  	$('#Registration').removeClass('active');
			  	$('.regTab').removeClass('active');
			  	$('#Login').addClass('active');
			  	$('.loginTab').addClass('active');
		  })
		    $('.regButton').on('click', function(){
			  	$('#Registration').addClass('active');
			  	$('.regTab').addClass('active');
			  	$('#Login').removeClass('active');
			  	$('.loginTab').removeClass('active');
		})
    $('#loginForm').validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true
            },
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
    $('#registrationForm').validate({
        rules: {
            "user[email]": {
                required: true,
                email: true
            },
            "user[password]": {
                required: true
            },
            "user[password_confirmation]": {
            	required: true
            },
            "user[first]": {
            	required: true
            },
            "user[last]": {
            	required: true
            },
            "team[name]": {
            	required: true
            },
            "user[phone_number]": {
                required: true
            }

        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
	$(".passwordconf").rules("add", { 
	  equalTo: "#password"
	});
	})
</script>
