<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% if @booked_rooms.empty? %>
<h3>You haven't booked any rooms.</h3>
<h4>If you need to checkout, go to your <a href="cart">cart</a>, or book more <a href='hotels'>rooms.</a></h4>
<% else %>
<h3>My Booked Rooms</h3>
<div class="table-responsive">
<table class="table-striped">
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Room Number</th>
			<th>Smoking</th>
			<th>Type</th>
			<th>Room Price</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @booked_rooms.each do |val| %>
		<tr>
		<td><%= val.hotel.name %></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.number %></td>
		<td><%= val.smoking %></td>
		<td><%= val.room_type %></td>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><form action="/book_rooms/cancel/<%= val.id %>" method="POST" class="cancelForm">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<button type="submit" class="btn btn-danger">Cancel</button>
			</form>
		</td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
			<td></td>
<!-- 			<td><form action="/cart/checkout" method="POST">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<button type="submit" class="btn btn-success">Checkout</button>
				</form>
			</td> -->
		</tr>
	</tbody>
</table>
</div>
<% end %>
</div>
<div class="col-md-2">
</div>
</div>