<style type="text/css">
	.table>thead>tr>th {
		border-bottom: none; 
	}
	#stripeDiv{
		/*float: right;*/
		text-align: center;
	}
</style>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% if @booked_rooms.empty? %>
<h3>You haven't booked any rooms.</h3>
<h4 data-turbolinks="false">If you need to checkout, go to your <a href="cart">cart</a>, or book more <a href='hotels'>rooms.</a></h4>
<% else %>
<h3>My Booked Rooms</h3>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Smoking</th>
			<th>Adults</th>
			<th>Children</th>
			<th>Type</th>
			<th>Price Per Night</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @booked_rooms.each do |val| %>
		<tr>
		<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.smoking %></td>
		<td><%= val.occupancy_a %></td>
		<td><%= val.occupancy_c %></td>
		<td><%= val.room_type %></td>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
		<td><form action="/book_rooms/cancel/<%= val.id %>" method="POST" class="cancelForm">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<button type="submit" class="btn btn-danger">Cancel</button>
			</form>
		</td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<% @depositTax = @tax %>
			<td>Tax:</td>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<% @nightlyTax = @tax %>
			<% @tax = @tax * 3 %>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td class="green"><%= number_to_currency(@total+@nightlyTax, :precision => 2) %></td>
			<% @depositTotal = (@total + @depositTax).round(2) %>
			<% @total = @total * 3 %>
			<% @total += @tax %>
			<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<% if @team.balance %>
	<% @team.balance = @team.balance.round(2) %>
	<!-- <h3>Pay Balance:</h3> -->
	<div id="stripeDiv">
	<h3>You paid a downpayment of <span class="green"><%= number_to_currency(@team.balance/2, :precision => 2) %></span></h3>
	<h3>You have a remaining balance of <span class="green"><%= number_to_currency(@team.balance, :precision => 2) %></span></h3>
	<%= form_tag charges_path do %>
	  <article>
	    <% if flash[:error].present? %>
	      <div id="error_explanation">
	        <p><%= flash[:error] %></p>
	      </div>
	    <% end %>
	    <label class="amount">
	    </label>
	  </article>
	  <% @stripeTotal = (@team.balance * 100).to_i %>
	<input type="hidden" name="amount" value="<%= @stripeTotal %>">
	<input type="hidden" name="balanceClear" value="<%= @team.balance %>">
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="Book Rooms"
	          data-amount="<%= @stripeTotal %>"
	          data-locale="auto"></script>
	<% end %>
	</div>
<% end %>
<% end %>
</div>
<div class="col-md-2">
</div>
</div>