<style type="text/css">
/*	.payment-method-options{
      display: none!important;
    }*/
    .checkoutButton{
    	float: right;
    	margin-top: 1%;
    }
    .checkoutDiv{
    	margin-top: 2%;
    	width: 100%;
    }
    #stripeDiv{
    	float: right;
    }
</style>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% if @cart_rooms.empty? %>
<h3>Your cart is empty</h3>
<h4>If you've already booked rooms, you can view them <a href="booked">here</a>, or book more <a href='hotels'>rooms.</a></h4>
<% else %>
<% if @noGuests %>
<h3>Your guest list is empty.</h3>
<h4>If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
<% end %>
<h3>My Cart</h3>
<div class="table-responsive">
<table class="table-striped">
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Room Number</th>
			<th>Smoking</th>
			<th>Type</th>
			<th>Room Price</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @cart_rooms.each do |val| %>
		<tr>
		<td><%= val.hotel.name %></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.number %></td>
		<td><%= val.smoking %></td>
		<td><%= val.room_type %></td>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><form action="/cart/cancel/<%= val.id %>" method="POST" class="cancelForm">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<button type="submit" class="btn btn-danger">Remove</button>
			</form>
		</td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<!-- Must have 10 room conditional -->
<%# if @cart_rooms.length < 10 %>
<!-- <h3>You must book at least 10 rooms to checkout.</h3> -->
<%# else %>
<div id="stripeDiv">
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
    </label>
  </article>
  <% @stripeTotal = (@total * 100).to_i %>
<input type="hidden" name="amount" value="<%= @stripeTotal %>">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Book Rooms"
          data-amount="<%= @stripeTotal %>"
          data-locale="auto"></script>
<% end %>
</div>
</div>
<%# end %>
<div class="col-md-2">
</div>
</div>
<% end %>