<style type="text/css">
/*	.payment-method-options{
      display: none!important;
    }*/
    .checkoutButton{
    	float: right;
    	margin-top: 1%;
    }
    .checkoutDiv{
    	margin-top: 2%;
    	width: 100%;
    }
    #stripeDiv{
    	/*text-align: center;*/
    	display: inline-block;
    	margin: 1% 5%;
    }
	.table>thead>tr>th {
		 border-bottom: none; 
	}
	.payHeaders{
		/*display: inline;*/
	}
	.stripeRow{
		text-align: center;
		margin-bottom: 5%;
	}
	.notFound{
		text-align: center;
	}
	.cartHeader{
		text-align: center;
	}
    html {
    	position: relative;
	  min-height: 100%;
	}
	body{
		height: 100%;
		padding-bottom: 38px;
	}
    footer{
      background-color: #0275d8;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 2%;
    }
	#stripeDiv input{
		margin: 0px auto;
	}
	.error{
		/*color: #a94442;*/
	}
	.has-error{
		margin-bottom: 0px;
	}
	.has-success{
		margin-bottom: 0px;
	}
</style>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% if @cart_rooms.empty? %>
<h3 class="notFound">Your cart is empty, click <a href='hotels'>here</a> to book more rooms.</h3>
<% if @user.books.length > 0 %>
	<% if @user.user_balance && @user.user_balance > 0 %>
		<h4 data-turbolinks="false" class="notFound">You have an outstanding balance.  View your booked rooms <a href="booked">here</a></h4>
	<% else %>
		<h4 data-turbolinks="false" class="notFound">You can view your booked rooms here <a href="booked">here</a>, or book more <a href='hotels'>rooms.</a></h4>
	<% end %>
<% end %>
<% else %>
<h3 class="cartHeader">My Cart <%= session[:relay_ammount] %></h3>
<% if @noGuests %>
<h3 class="notFound">Your guest list is empty.</h3>
<h4 class="notFound">If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
<% end %>
<% if @user.guests.length == 1 %>
<h3 class="notFound">Your guest list is empty.</h3>
<h4 class="notFound">If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
<% end %>
	<% if flash[:team_has_rooms] %>
		<h4 class="cartHeader">Your team has booked rooms!  View your teams booked <a href="/booked/teams">rooms</a></h4>
	<% end %>
	<% if @user.user_balance && @user.user_balance > 0 %>
		<h4 data-turbolinks="false" class="notFound">You have an outstanding balance.  View your booked rooms <a href="booked">here</a></h4>
	<% elsif @user.books && @user.books.length > 0 %>
		<h4 data-turbolinks="false" class="notFound">You can view your booked rooms <a href="booked">here</a>, or book more <a href='hotels'>rooms.</a></h4>
	<% end %>
<% if session[:roomsNeeded] && @cart_rooms.length < 8 %>
<h3>Your team must book at least 8 rooms to participate in the tournament</h3>
<% elsif session[:exemptRoomsNeeded] && @cart_rooms.length < 5  %>
<h3>Your team must book at least 5 rooms to participate in the tournmaent</h3>
<% end %>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Smoking</th>
			<th>Adults</th>
			<th>Children</th>
			<th>Type</th>
			<th>Price Per Night</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @totalOccupancy = 0 %>
		<% @cart_rooms.each do |val| %>
		<tr>
		<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.smoking %></td>
		<td><%= val.occupancy_a %></td>
		<td><%= val.occupancy_c %></td>
		<td><%= val.room_type %></td>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
		<% @totalOccupancy += val.occupancy_a.to_i %>
		<% @totalOccupancy += val.occupancy_c.to_i %>
		<td><form action="/cart/cancel/<%= val.id %>" method="POST" class="cancelForm">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<button type="submit" class="btn btn-danger">Remove</button>
				 <!-- data-confirm="Are you sure?" add to remove -->
			</form>
		</td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<% @depositTax = @tax %>
			<td>Tax:</td>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<% @nightlyTax = @tax %>
			<% @tax = @tax * 3 %>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
			<% @depositTotal = (@total + @depositTax).round(2) %>
			<%# @total = @total * 3 #%>
			<%# @total += @tax %>
			<td class="green"><%= number_to_currency((@total * 3), :precision => 2) %></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="col-md-2">
</div>
</div>
<% @booked_rooms.each do |val| %>
	<% @totalOccupancy += val.occupancy_a.to_i %>
	<% @totalOccupancy += val.occupancy_c.to_i %>
<% end %>
<% if session[:c_found] %>
	<% @roomA = 0 %>
	<% @roomC = 0 %>
	<!-- <h1> OCCUPANCY_C FOUND </h1> -->
	<% @cart_rooms.each do |val| %>
		<% @roomA += val.occupancy_a %>
		<% if val.occupancy_c %>
			<% @roomC += val.occupancy_c %>
		<% end %>
	<% end %>
	<% @booked_rooms.each do |val| %>
		<% @roomA += val.occupancy_a %>
		<% if val.occupancy_c %>
			<% @roomC += val.occupancy_c %>
		<% end %>
	<% end %>
	<% session[:c_found] = false %>
<% end %>
<% if @guestCount && @guestCount > @totalOccupancy %>
<h3>You are currently booking for <%= @guestCount %> people, and have rooms in your cart that only accomodate <% if @totalOccupancy == 1 %><%= @totalOccupancy %> person.<% else %><%= @totalOccupancy %> people.<% end %></h3>
<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% elsif @roomA && @roomA < session[:adultCount] && session[:adultCount]%>
	<h3>You currently don't have enough room to accomodate the adults you are booking for.</h3>
	<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% elsif @roomA && @roomA < session[:adultCount] && @roomC < session[:childCount] && session[:adultCount]%>
	<h3>You currently don't have enough room to accomodate the people you are booking for.</h3>
	<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% else %>
<!-- Must have 10 room conditional -->

<%# if @team.exempt %>
	<%# if @cart_rooms.length < 5 %>
	<!-- <h3>You must book at least 5 rooms to checkout.</h3> -->
	<!-- <h3>Please book more <a href="/hotels">rooms</a></h3> -->
<%# else %>
	<%# if @cart_rooms.length < 10 %>
	<!-- <h3>You must book at least 10 rooms to checkout.</h3> -->
	<!-- <h3>Please book more <a href="/hotels">rooms</a></h3> -->
	<%# else %>

<% @stripeTotal = (@total * 100).to_i %>
<% @stripeTotalDeposit = (@depositTotal * 100).to_i %>
<div class="row stripeRow">
<form id="checkout" method="post" action="/cart/checkout">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input name="balance" value="<%= (@total * 3) %>" type="hidden">
<div id="payment-form"></div>
<div id="payButtonDiv"><input type="submit" class="btn btn-primary payButton" value="Reserve Rooms" data-confirm="Are you sure?"></div>
</form>
</div>
<% end %>
<!-- ROOM CONDITIONAL 10 / 5 END  -->
<%# end %>
<!-- ============================ -->
<% end %>
<script>
// $(document).on('turbolinks:load', function() {
//     $('.paymentForm').validate({
//         rules: {
//             x_card_num: {
//                 required: true
//             },
//             x_exp_date: {
//                 required: true
//             },
//             x_card_code: {
//             	required: true
//             }
//         },
//         highlight: function (element) {
//             $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
//         },
//         success: function (element) {
//             element.closest('.form-group').removeClass('has-error').addClass('has-success');
//         }
//     });
//     $('.paymentFormDeposit').validate({
//         rules: {
//             x_card_num: {
//                 required: true
//             },
//             x_exp_date: {
//                 required: true
//             },
//             x_card_code: {
//             	required: true
//             }
//         },
//         highlight: function (element) {
//             $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
//         },
//         success: function (element) {
//             element.closest('.form-group').removeClass('has-error').addClass('has-success');
//         }
//     });
// })
</script>