<style type="text/css">
/*	.payment-method-options{
      display: none!important;
    }*/
    .checkoutButton{
    	float: right;
    	margin-top: 1%;
    }
    .checkoutDiv{
    	margin-top: 2%;
    	width: 100%;
    }
    #stripeDiv{
    	/*text-align: center;*/
    	display: inline-block;
    	margin: 1% 5%;
    }
	.table>thead>tr>th {
		 border-bottom: none; 
	}
	.payHeaders{
		/*display: inline;*/
	}
	.stripeRow{
		text-align: center;
	}
	.notFound{
		text-align: center;
	}
</style>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% if @cart_rooms.empty? %>
<h3 class="notFound">Your cart is empty</h3>
<h4 data-turbolinks="false" class="notFound">If you've already booked rooms, you can view them <a href="booked">here</a>, or book more <a href='hotels'>rooms.</a></h4>
<% else %>
<% if @noGuests %>
<h3 class="notFound">Your guest list is empty.</h3>
<h4 class="notFound">If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
<% end %>
<h3>My Cart</h3>
<% if session[:roomsNeeded] && @cart_rooms.length < 10 %>
<h3>Your team must book at least 10 rooms to participate in the tournament</h3>
<% elsif session[:exemptRoomsNeeded] && @cart_rooms.length < 5  %>
<h3>Your team must book at least 5 rooms to participate in the tournmaent</h3>
<% end %>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Smoking</th>
			<th>Adults</th>
			<th>Children</th>
			<th>Type</th>
			<th>Price Per Night</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @totalOccupancy = 0 %>
		<% @cart_rooms.each do |val| %>
		<tr>
		<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.smoking %></td>
		<td><%= val.occupancy_a %></td>
		<td><%= val.occupancy_c %></td>
		<td><%= val.room_type %></td>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
		<% @totalOccupancy += val.occupancy_a.to_i %>
		<% @totalOccupancy += val.occupancy_c.to_i %>
		<td><form action="/cart/cancel/<%= val.id %>" method="POST" class="cancelForm">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<button type="submit" class="btn btn-danger">Remove</button>
			</form>
		</td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<% @depositTax = @tax %>
			<td>Tax:</td>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<% @nightlyTax = @tax %>
			<% @tax = @tax * 3 %>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td class="green"><%= number_to_currency(@total+@nightlyTax, :precision => 2) %></td>
			<% @depositTotal = (@total + @depositTax).round(2) %>
			<% @total = @total * 3 %>
			<% @total += @tax %>
			<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<% @booked_rooms.each do |val| %>
	<% @totalOccupancy += val.occupancy_a.to_i %>
	<% @totalOccupancy += val.occupancy_c.to_i %>
<% end %>
<% if session[:c_found] %>
	<% @roomA = 0 %>
	<% @roomC = 0 %>
	<!-- <h1> OCCUPANCY_C FOUND </h1> -->
	<% @cart_rooms.each do |val| %>
		<% @roomA += val.occupancy_a %>
		<% if val.occupancy_c %>
			<% @roomC += val.occupancy_c %>
		<% end %>
	<% end %>
	<% @booked_rooms.each do |val| %>
		<% @roomA += val.occupancy_a %>
		<% if val.occupancy_c %>
			<% @roomC += val.occupancy_c %>
		<% end %>
	<% end %>
	<% session[:c_found] = false %>
<% end %>
<% if @guestCount && @guestCount > @totalOccupancy %>
<h3>You are currently booking for <%= @guestCount %> people, and have rooms in your cart that only accomodate <% if @totalOccupancy == 1 %><%= @totalOccupancy %> person.<% else %><%= @totalOccupancy %> people.<% end %></h3>
<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% elsif @roomA && @roomA < session[:adultCount] && session[:adultCount]%>
	<h3>You currently don't have enough room to accomodate the adults you are booking for.</h3>
	<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% elsif @roomA && @roomA < session[:adultCount] && @roomC < session[:childCount] && session[:adultCount]%>
	<h3>You currently don't have enough room to accomodate the people you are booking for.</h3>
	<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% else %>
<!-- Must have 10 room conditional -->

<%# if @team.exempt %>
	<%# if @cart_rooms.length < 5 %>
	<!-- <h3>You must book at least 5 rooms to checkout.</h3> -->
	<!-- <h3>Please book more <a href="/hotels">rooms</a></h3> -->
<%# else %>
	<%# if @cart_rooms.length < 10 %>
	<!-- <h3>You must book at least 10 rooms to checkout.</h3> -->
	<!-- <h3>Please book more <a href="/hotels">rooms</a></h3> -->
	<%# else %>

<% @stripeTotal = (@total * 100).to_i %>
<% @stripeTotalDeposit = (@depositTotal * 100).to_i %>
Deposit: <%= @stripeTotalDeposit %>
<div class="row stripeRow">
<div id="stripeDiv">
<h3 class="payHeaders">Pay Deposit (One Night)</h3>
<h3 class="payHeaders green"><%= number_to_currency(@depositTotal, :precision => 2) %></h3>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
    </label>
  </article>
<input type="hidden" name="amount" value="<%= @stripeTotalDeposit %>">
<input type="hidden" name="balancePaid" value="<%= @depositTotal %>">
<input type="hidden" name="totalTotal" value="<%= @total %>">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Book Rooms"
          data-amount="<%= @stripeTotalDeposit %>"
          data-locale="auto"></script>
<% end %>
</div>
<div id="stripeDiv">
<h3 class="payHeaders">Pay Full Ammount</h3>
<h3 class="payHeaders green"><%= number_to_currency(@total, :precision => 2) %></h3>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
    </label>
  </article>
<input type="hidden" name="amount" value="<%= @stripeTotal %>">
<input type="hidden" name="payingFull" value="yes">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Book Rooms"
          data-amount="<%= @stripeTotal %>"
          data-locale="auto"></script>
<% end %>
</div>
</div>
<% end %>
</div>
<!-- ROOM CONDITIONAL 10 / 5 END  -->
<%# end %>
<!-- ============================ -->
<div class="col-md-2">
</div>
</div>
<% end %>