<style type="text/css">
/*	.payment-method-options{
      display: none!important;
    }*/
    .checkoutButton{
    	float: right;
    	margin-top: 1%;
    }
    .checkoutDiv{
    	margin-top: 2%;
    	width: 100%;
    }
    #stripeDiv{
    	/*text-align: center;*/
    	display: inline-block;
    	margin: 1% 5%;
    }
	.table>thead>tr>th {
		 border-bottom: none; 
	}
	.payHeaders{
		/*display: inline;*/
	}
	.stripeRow{
		text-align: center;
	}
	.notFound{
		text-align: center;
	}
	.cartHeader{
		text-align: center;
	}
    html {
    	position: relative;
	  min-height: 100%;
	}
	body{
		height: 100%;
		padding-bottom: 38px;
	}
    footer{
      background-color: #0275d8;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 2%;
    }
</style>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% if @cart_rooms.empty? %>
<h3 class="notFound">Your cart is empty, click <a href='hotels'>here</a> to book more rooms.</h3>
<% if @user.books.length > 0 %>
	<% if @user.user_balance && @user.user_balance > 0 %>
		<h4 data-turbolinks="false" class="notFound">You have an outstanding balance.  View your booked rooms <a href="booked">here</a>
	<% else %>
		<h4 data-turbolinks="false" class="notFound">You can view your booked rooms here <a href="booked">here</a>, or book more <a href='hotels'>rooms.</a></h4>
	<% end %>
<% end %>
<% else %>
<% if @noGuests %>
<h3 class="notFound">Your guest list is empty.</h3>
<h4 class="notFound">If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
<% end %>
<h3 class="cartHeader">My Cart</h3>
	<% if @user.user_balance && @user.user_balance > 0 %>
		<h4 data-turbolinks="false" class="notFound">You have an outstanding balance.  View your booked rooms <a href="booked">here</a>
	<% elsif @user.books && @user.books.length > 0 %>
		<h4 data-turbolinks="false" class="notFound">You can view your booked rooms <a href="booked">here</a>, or book more <a href='hotels'>rooms.</a></h4>
	<% end %>
<% if session[:roomsNeeded] && @cart_rooms.length < 10 %>
<h3>Your team must book at least 10 rooms to participate in the tournament</h3>
<% elsif session[:exemptRoomsNeeded] && @cart_rooms.length < 5  %>
<h3>Your team must book at least 5 rooms to participate in the tournmaent</h3>
<% end %>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Smoking</th>
			<th>Adults</th>
			<th>Children</th>
			<th>Type</th>
			<th>Price Per Night</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @totalOccupancy = 0 %>
		<% @cart_rooms.each do |val| %>
		<tr>
		<td><a href="/hotels/<%= val.hotel.id %>"><%= val.hotel.name %></a></td>
		<td><%= val.hotel.address %></td>
		<td><%= val.smoking %></td>
		<td><%= val.occupancy_a %></td>
		<td><%= val.occupancy_c %></td>
		<td><%= val.room_type %></td>
		<td><%= number_to_currency(val.price, :precision => 2) %></td>
		<td><%= number_to_currency(val.price*3, :precision => 2) %></td>
		<% @totalOccupancy += val.occupancy_a.to_i %>
		<% @totalOccupancy += val.occupancy_c.to_i %>
		<td><form action="/cart/cancel/<%= val.id %>" method="POST" class="cancelForm">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<button type="submit" class="btn btn-danger">Remove</button>
			</form>
		</td>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<% @depositTax = @tax %>
			<td>Tax:</td>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<% @nightlyTax = @tax %>
			<% @tax = @tax * 3 %>
			<td><%= number_to_currency(@tax, :precision => 2) %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td class="green"><%= number_to_currency(@total, :precision => 2) %></td>
			<% @depositTotal = (@total + @depositTax).round(2) %>
			<%# @total = @total * 3 #%>
			<%# @total += @tax %>
			<td class="green"><%= number_to_currency((@total * 3), :precision => 2) %></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<% @booked_rooms.each do |val| %>
	<% @totalOccupancy += val.occupancy_a.to_i %>
	<% @totalOccupancy += val.occupancy_c.to_i %>
<% end %>
<% if session[:c_found] %>
	<% @roomA = 0 %>
	<% @roomC = 0 %>
	<!-- <h1> OCCUPANCY_C FOUND </h1> -->
	<% @cart_rooms.each do |val| %>
		<% @roomA += val.occupancy_a %>
		<% if val.occupancy_c %>
			<% @roomC += val.occupancy_c %>
		<% end %>
	<% end %>
	<% @booked_rooms.each do |val| %>
		<% @roomA += val.occupancy_a %>
		<% if val.occupancy_c %>
			<% @roomC += val.occupancy_c %>
		<% end %>
	<% end %>
	<% session[:c_found] = false %>
<% end %>
<% if @guestCount && @guestCount > @totalOccupancy %>
<h3>You are currently booking for <%= @guestCount %> people, and have rooms in your cart that only accomodate <% if @totalOccupancy == 1 %><%= @totalOccupancy %> person.<% else %><%= @totalOccupancy %> people.<% end %></h3>
<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% elsif @roomA && @roomA < session[:adultCount] && session[:adultCount]%>
	<h3>You currently don't have enough room to accomodate the adults you are booking for.</h3>
	<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% elsif @roomA && @roomA < session[:adultCount] && @roomC < session[:childCount] && session[:adultCount]%>
	<h3>You currently don't have enough room to accomodate the people you are booking for.</h3>
	<h3>Please book more <a href="/hotels">rooms</a>.</h3>
<% else %>
<!-- Must have 10 room conditional -->

<%# if @team.exempt %>
	<%# if @cart_rooms.length < 5 %>
	<!-- <h3>You must book at least 5 rooms to checkout.</h3> -->
	<!-- <h3>Please book more <a href="/hotels">rooms</a></h3> -->
<%# else %>
	<%# if @cart_rooms.length < 10 %>
	<!-- <h3>You must book at least 10 rooms to checkout.</h3> -->
	<!-- <h3>Please book more <a href="/hotels">rooms</a></h3> -->
	<%# else %>

<% @stripeTotal = (@total * 100).to_i %>
<% @stripeTotalDeposit = (@depositTotal * 100).to_i %>
<div class="row stripeRow">
<div id="stripeDiv">
<h3 class="payHeaders">Pay Deposit (One Night)</h3>
<h3 class="payHeaders green"><%= number_to_currency(@depositTotal, :precision => 2) %></h3>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
    </label>
  </article>
  <% @dpTax = @tax/3 %>
 <input type="hidden" name="amount" value="<%= @stripeTotalDeposit %>">
<input type="hidden" name="balancePaid" value="<%= @depositTotal %>">
<input type="hidden" name="totalTotal" value="<%= @total %>">
<input type="hidden" name="tax" value="<%= @dpTax %>">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Book Rooms"
          data-amount="<%= @stripeTotalDeposit %>"
          data-locale="auto"></script>
<% end %>
</div>
<div id="stripeDiv">
<h3 class="payHeaders">Pay Full Ammount</h3>
<h3 class="payHeaders green"><%= number_to_currency((@total*3), :precision => 2) %></h3>
<%= form_for :sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::TEST do |f| %>
  <%= sim_fields(@sim_transaction) %>
  <%= label_tag 'x_amount', "Total: #{number_to_currency(@amount)}" %>
  <%= label_tag 'x_card_num', 'Credit Card Number'%>
  <%= text_field_tag 'x_card_num' %>
  <%= label_tag 'x_exp_date', 'Expiration Date (MMYY)'%>
  <%= text_field_tag 'x_exp_date' %>
  <br />
  <%= f.submit 'Purchase'%>
<% end %>
</div>
</div>
<% end %>
</div>
<!-- ROOM CONDITIONAL 10 / 5 END  -->
<%# end %>
<!-- ============================ -->
<div class="col-md-2">
</div>
</div>
<% end %>

<!-- 		<form id="checkout" method="post" action="/transactions">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="hidden" name="amount" value="<%= @stripeTotalDeposit %>">
		  <div id="payment-form"></div>
		  <div id="payButtonDiv"><input type="submit" class="btn btn-primary payButton" value="Pay $10"></div>
		</form> -->
	</div>
	<div class="col-md-3">
	</div>
</div>
<script src="https://js.braintreegateway.com/js/braintree-2.31.0.min.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
// var clientToken = "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiI2MGYxNjk1ZjliOGU0NzkxMzVmNzBlOTI0YzE3MDNjZDcyNjQ0ZTNjODkxZjIyZmFjYzNkNjQ0ODI4ZDc4MzRhfGNyZWF0ZWRfYXQ9MjAxNy0wMy0yMVQyMToyNDowNC4wMTA5NTUwNDArMDAwMFx1MDAyNm1lcmNoYW50X2lkPTM0OHBrOWNnZjNiZ3l3MmJcdTAwMjZwdWJsaWNfa2V5PTJuMjQ3ZHY4OWJxOXZtcHIiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzLzM0OHBrOWNnZjNiZ3l3MmIvY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tLzM0OHBrOWNnZjNiZ3l3MmIifSwidGhyZWVEU2VjdXJlRW5hYmxlZCI6dHJ1ZSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwiYmlsbGluZ0FncmVlbWVudHNFbmFibGVkIjp0cnVlLCJtZXJjaGFudEFjY291bnRJZCI6ImFjbWV3aWRnZXRzbHRkc2FuZGJveCIsImN1cnJlbmN5SXNvQ29kZSI6IlVTRCJ9LCJjb2luYmFzZUVuYWJsZWQiOmZhbHNlLCJtZXJjaGFudElkIjoiMzQ4cGs5Y2dmM2JneXcyYiIsInZlbm1vIjoib2ZmIn0=";

braintree.setup("<%= @token %>", "dropin", {
  container: "payment-form"
});
</script>