<style type="text/css">
	.countForm{
		text-align: center;
		/*margin-top: 2%;*/
	}
	.countForm input{
		display: inline;
    	width: 5%;
	}
	.countForm button{
		display: inline-block;
	    vertical-align: top;
	    margin-left: 2%;
	}
	.countForm h4{
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
	.countForm h3{
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
	#roomSearchForm input{
		display: inline;
	}
	.hotelImg img{
		height: 400px;
	}
	#map{
		height: 400px;
	}
	.form-check{
		display: inline;
	}
	.searchbtn{
		margin-left: 1%;
	}
	#roomSearchForm{
	    text-align: center;
	    margin-top: 2%;
	}
	.tableRow{
		margin-top: 2%;
	}
	.form-check{
		vertical-align: -webkit-baseline-middle;
	}
	.formBreak{
		margin-top: 2%;
	}
	.roomBtn{
		margin-left: 1%;
		margin-top: 1%;
	}
	.tableCol{
		height: 413px;
	}
	.resetForm{
	    position: absolute;
	    top: 15px;
	    right: 0;
	}
	.table>thead>tr>th {
		 border-bottom: none; 
	}
	.pagination{
		margin-top: 0px;
		/*text-align: center;*/
	}
	td{
		padding: 8px 0px !important;
	}
	.formBreak {
    	background-color: #e9f2f8;
	    margin-top: 2%;
	    padding: 1%;
	    padding-bottom: 2%;
	    width: 100%;
	}
    .roomCol{
    	text-align: center;
    	min-height: 334px;
    	margin-bottom: 2%;
    	background-color: #e9f2f8;
    	padding: 2%;
	    border: 1px solid #eee;
	    box-shadow: 2px 2px 2px #eee;
    }
    .roomCol h3{

    }
    .amountLeft{
    	top: 0%;
	    right: 2%;
	    position: absolute;
    }
    .amountToAdd{
    	display: inline;
    	width: 35px;
    }
    .flash3{
    	display: inline-block;
    	margin-top: 0px;
	    vertical-align: -webkit-baseline-middle;
	    margin-bottom: 0px;
    }
    .formBreak{
    	display: none;
    }
    .hotelLinkh4{
    	margin-top: 30px;
    }
    .hotel_img img{
	    width: 100%;
	    height: auto;
    }
    .hotel_img img:hover{
    	opacity: 0.8;
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
</style>
<!-- <div class="searchFormRow row">
<div class="col-md-2">
</div>
<div class="col-md-12">
<form action="count" method="post" class="resetForm" data-turbolinks="false">
	<% if flash[:cart_created] %>
	<h3 class="flash3">Added to <a href="/cart">cart!</a></h3>
	<% end %>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input name="child" type="hidden" value="<%= session[:childCount] %>"><input name="adult" type="hidden" value="<%= session[:adultCount] %>" min="1"><button class="btn btn-danger">Reset Search</button></form>
<form class="form-inline" action="/rooms/searchAll" method="post" id="roomSearchForm">
<span class="countForm">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<h3>Searching for <input name="child" type="hidden" value="<%= session[:childCount] %>"><% if session[:childCount] == 1 %><%= session[:childCount] %> Child <% else %><%= session[:childCount] %> Children <% end %>and <input name="adult" type="hidden" value="<%= session[:adultCount] %>" min="1"><% if session[:adultCount] == 1 %><%= session[:adultCount] %> Adult.<% else %><%= session[:adultCount] %> Adults.<% end %></h3></span>
<h4>Update your <a href="/guests/user">Guest List</a></h4>
<div class="formBreak">
	<div class="form-check form-check-inline">
	  <label class="form-check-label">
	    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="2" /> Double Queens
	  </label>
	</div>
	<div class="form-check form-check-inline">
	  <label class="form-check-label">
	    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="3" /> King
	  </label>
	</div>
	<div class="form-check form-check-inline">
	  <label class="form-check-label">
	    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="4" /> Cheapest
	  </label>
	</div>
	<button type="submit" class="btn btn-primary btn-md roomBtn">Search Rooms!</button>
</form>
</div>
</div> -->
<!-- <div class="col-md-2">
</div>
</div> -->
<% x = 0 %>
<% y = 0 %>
<% @hotelIds.each do |val| %>
    <% @roomTypes = Hotel.find(val).rooms.select('distinct room_type').map(&:room_type) %>
	<% @roomTypes.each do |v| %>
		<% @room = Hotel.find(val).rooms.find_by(room_type: v) %>
			<% if y == 0 %>
			<div class="row tableRow">
			<% elsif (x % 2) == 0 && x != 0 %>
			<div class="row">
			<% else %>
			<% end %>
    		<div class="col-md-3 roomCol">
    		<h4 class="hotelLinkh4"><a href="hotels/<%= @room.hotel.id %>"><%= @room.hotel.name %></a></h4>
			<h4>Bed: <%= @room.room_type %></h4>
			<a href="/hotels/<%= @room.hotel.id %>" class="hotel_img"><%= image_tag("#{@room.hotel.image}") %></a>
			<h4>Price: <span class="green"><%= number_to_currency(@room.price, :precision => 2) %></span> per night</h4>
			<h4>Smoking: <%= @room.smoking %></h4>
			<% if @room.occupancy_c %>
				<h4>Occupancy: <%= @room.occupancy_c + @room.occupancy_a %></h4>
			<% else %>
				<h4>Occupancy: <%= @room.occupancy_a %></h4>
			<% end %>
			<h4>Adults: <%= @room.occupancy_a %></h4>
			<% if @room.occupancy_c %><h5>Children: <%= @room.occupancy_c %></h5><% end %>
			<% if @room.description %><h5><%= @room.description %></h5><% end %>
			<h5 class="amountLeft">Only <%= Hotel.find(val).rooms.where(room_type: v).count %><br>Left!</h5>
<!-- 			<form action="/cart/create/<%= @room.id %>" method="POST">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="price" value="<%= @room.price %>">
				<input type="hidden" name="number" value="<%= @room.number %>">
				<input type="hidden" name="smoking" value="<%= @room.smoking %>">
				<input type="hidden" name="room_type" value="<%= @room.room_type %>">
				<input type="hidden" name="hotel_id" value="<%= @room.hotel.id %>">
				<input type="hidden" name="user_id" value="<%= session[:user_id] %>">
				<input type="hidden" name="occupancy_a" value="<%= @room.occupancy_a %>">
				<input type="hidden" name="occupancy_c" value="<%= @room.occupancy_c %>">
				<input type="number" name="amount" value="1" class="amountToAdd" min="1">
				<button type="submit" class="btn btn-primary">Add To Cart</button>
			 </form> -->
			</div>
			<div class="col-md-1">
			</div>
			<% if y == 0 %>
			<% x += 1 %>
			<% elsif (x % 2) == 0 && x != 0 %>
			<% x = 0 %>
			</div>
			<% else %>
			<% x += 1 %>
			<% end %>
			<% y += 1 %>
	<% end %>
<% end %>