<style type="text/css">
	.countForm{
		text-align: center;
		margin-top: 2%;
	}
	.countForm input{
		display: inline;
    	width: 5%;
	}
	.countForm button{
		display: inline-block;
	    vertical-align: top;
	    margin-left: 2%;
	}
	.countForm h4{
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
	.countForm h3{
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
	#map {
		height: 400px;
		width: 100%;
	}
	.hotelBox img{
		/*background-image: url(/assets/hotel.jpg);*/
		height: 200px;
		width: 263px;
		/*margin: 1% 1%;*/
		/*width: 100%;*/
	}
	.hotelBox{
		margin-top: 2%;
	}
	.hotelBox img:hover{
		opacity: .8;
	}
	.priceBox:hover{
		opacity: .8;
	}
	.priceBox{
	    height: 200px;
	    border: 1px solid black;
	    text-align: center;
	}
	.priceBox h2{
		margin-top: 80px;
	}
	.hotelBoxRow{
/*		margin-top: 2%;*/
	}
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 1px solid #000;
      }
      #legend h5 {
        margin-top: 0;
    	text-align: center;
      }
    .keys{
    	cursor: pointer;
    }
    .mapHeading{
    	text-align: center;
    }
    .bodyContent{
    	padding: 2%;
    }
</style>
<% if @noGuests %>
<h3>Your guest list is empty.</h3>
<h4>If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
<% else %>
<% end %>
<div id="map"></div>
<div id="legend"><h5>Hotels</h5></div>
<form action="count" method="post" class="countForm" data-turbolinks="false">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<h4>Searching for <input name="child" type="hidden" value="<%= session[:childCount] %>"><% if session[:childCount] == 1 %><%= session[:childCount] %> Child <% else %><%= session[:childCount] %> Children <% end %>and <input name="adult" type="hidden" value="<%= session[:adultCount] %>" min="1"><% if session[:adultCount] == 1 %><%= session[:adultCount] %> Adult.<% else %><%= session[:adultCount] %> Adults.<% end %></h4><button class="btn btn-primary">Find Rooms!</button></form>
<div class="row hotelBoxRow" data-turbolinks="false">
<div class="col-md-3 hotelBox">
<a href="/roomByPrice/1"><%= image_tag("70.png") %></a>
</div>
<div class="col-md-3 hotelBox">
<a href="/roomByPrice/2"><%= image_tag("120.png") %></a>
</div>
<div class="col-md-3 hotelBox">
<a href="/roomByPrice/3"><%= image_tag("150.png") %></a>
</div>
<% @hotels.each do |val| %>
	<div class="col-md-3 hotelBox">
		<a href="/hotels/<%= val.id %>"><%= image_tag("#{val.image}") %></a>
		<h3><%= val.name %></h3>
	</div>
<% end %>
</div>
<script type="text/javascript">
	// $(document).ready(function(){
		var prev_infowindow = false;
		function initMap() {
        var palmSprings = {lat: 33.830296, lng: -116.545292};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: palmSprings
        });
        <% @hotels.each do |val| %>
        var pos<%= val.id %> = {lat: <%= val.lat %>, lng: <%= val.long %>};

        var marker<%= val.id %> = new google.maps.Marker({
          position: pos<%= val.id %>,
          map: map,
          title: 'Palm Springs'
        });

        var contentString<%= val.id %> = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="mapHeading"><a href="hotels/<%= val.id %>"><%= val.name %></a></h3>'+
            '<div id="bodyContent" class="bodyContent">'+
            '<p>' +
            '<%= val.description %>' +
            '</p>' +
            '</div>'+
            '</div>';

        var infowindow<%= val.id %> = new google.maps.InfoWindow({
          content: contentString<%= val.id %>,
          maxWidth: 200
        });
        marker<%= val.id %>.addListener('click', function() {
          if(prev_infowindow){
          	prev_infowindow.close();
          }
          infowindow<%= val.id %>.open(map, marker<%= val.id %>);
          prev_infowindow = infowindow<%= val.id %>
        });

        var legend = document.getElementById('legend');
	      var div = document.createElement('div');
	      div.innerHTML = "<span class='holidayInnKey<%= val.id %> keys'><img src='http://maps.google.com/mapfiles/ms/icons/red-dot.png'>" + "<%= val.name %></span>";
	      legend.appendChild(div);

        $('.holidayInnKey<%= val.id %>').on('click', function(){
          if(prev_infowindow){
          	prev_infowindow.close();
          }
          infowindow<%= val.id %>.open(map, marker<%= val.id %>);
          prev_infowindow = infowindow<%= val.id %>
        })
        <% end %>
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(legend);

      }

    // });
	$(document).on('turbolinks:load', function() {
		// initMap();
	})
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoGMPOpQH15g01IyT8sEixBSGrunT4GDY&callback=initMap"></script>