<style type="text/css">
	.countForm{
		text-align: center;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.countForm input{
		display: inline;
    	width: 5%;
	}
	.countForm button{
		display: inline-block;
	    vertical-align: top;
	    margin-left: 2%;
	}
	.countForm h4{
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
	.countForm h3{
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
	#map {
		height: 600px;
		width: 80%;
    margin: 0px auto;
	}
	.hotelBox img{
		/*background-image: url(/assets/hotel.jpg);*/
		height: 200px;
		width: 263px;
		/*margin: 1% 1%;*/
		/*width: 100%;*/
	}
	.hotelBox{
    text-align: center;
		margin-top: 2%;
	}
	a{
		/*cursor: link !important;*/
	}
	.hotelBox img:hover{
		opacity: .8;
	}
  .hotelBox img{
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
  }
	.priceBox:hover{
		opacity: .8;
	}
	.priceBox{
	    height: 200px;
	    border: 1px solid black;
	    text-align: center;
	}
	.priceBox h2{
		margin-top: 80px;
	}
	.hotelBoxRow{
/*		margin-top: 2%;*/
	}
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        /*border: 1px solid #000;*/
        height: 400px;
        overflow: auto;
      }
      #legend h5 {
        margin-top: 0;
    	text-align: center;
      }
    .keys{
    	cursor: pointer;
    }
    .mapHeading{
    	text-align: center;
    }
    .bodyContent{
    	padding: 2%;
    }
    .infoWindowContent{
/*    	width: 400px !important;
    	height: 400px !important;*/
    }
    .gm-style-iw {
	    height: auto;
	}
	.moneyRow{
		text-align: center;
    width: 80%;
    margin: 0px auto 25px;
  }
	.pagRow{
    padding-left: 45px;
		/*text-align: center;*/
	}
	.guestRow{
		margin-right: 0px;
    	margin-left: 0px;
    	background-color: #e9f2f8;
	}
    .formBreak {
      margin: 2%;
      padding: 3%;
  }
  .imageHeaderH4{
    display: none;
  }
  .instructionRow{
    text-align: center;
  }
  .descriptionP a{
    color: black;
    text-decoration: none;
  }
  .descriptionP a:hover{
    color: black;
    text-decoration: none;
  }
  .bookHeading{
    margin-top: 0px;
  }
  .allRoomsBtn{
    margin-left: 0px !important;
  }
    footer{
      /*background-color: #0275d8;*/
      position: relative;
      bottom: 0;
      /*left: 0;*/
      width: 100%;
      margin-top: 2%;
    }
    body{
      padding-bottom: 0px;
    }
  .container{
    width: 100%;
  }
  .update_reminder{
    text-align: center;
    margin-top: -35px;
    padding-bottom: 35px;
  }
  .instructionHeader{
    margin-bottom: 20px;
  }
  .map_image img{
    width: 75%;
    height: auto;
    margin: 0px auto;
    display: block;
  }
</style>
<% if @noGuests %>
<div class="row instructionRow">
<h3>Your guest list is empty.</h3>
<h4>If you have any guests that you are booking for, please fill out the guest list <a href="/guests/new">form</a>.</h4>
</div>
<% else %>
<% end %>
<div class="row instructionRow">
<h3 class="instructionHeader">Click a map marker for more information about a hotel</h3>
<!-- <h3>Browse all <a class="hotel_scroll">hotels</a></h3> -->
</div>
<div class="row">
  <div class="col-sm-12 map-col">
    <div id="map"></div>
  </div>
</div>
<div id="legend"><h5>Hotels</h5></div>
<!-- <div class="row moneyRow">
	<div class="col-md-4 hotelBox">
	<a href="/roomByPrice/1"><%= image_tag("price3low.png") %></a>
	</div>
	<div class="col-md-4 hotelBox">
	<a href="/roomByPrice/2"><%= image_tag("price3mid.png") %></a>
	</div>
	<div class="col-md-4 hotelBox">
	<a href="/roomByPrice/3"><%= image_tag("price3high.png") %></a>
	</div>
</div> -->
<!-- <div class="row guestRow">
<div class="col-md-12">
<form action="count" method="post" class="countForm" data-turbolinks="false">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<h4>Searching for <input name="child" type="hidden" value="<%= session[:childCount] %>"><% if session[:childCount] == 1 %><%= session[:childCount] %> Child <% else %><%= session[:childCount] %> Children <% end %>and <input name="adult" type="hidden" value="<%= session[:adultCount] %>"><% if session[:adultCount] == 1 %><%= session[:adultCount] %> Adult.<% else %><%= session[:adultCount] %> Adults.<% end %></h4><button class="btn btn-primary">Find Rooms!</button></form>
<h5 class="update_reminder">Update Your <a href="/guests/user">Guest List</a></h5>
</div>
</div> -->
<div class="row hotelBoxRow" data-turbolinks="false">
<% y = 0 %>
<% @hotels.each do |val| %>
<% if val.shelved %>
  <div class="col-md-3 hotelBox">
    <a><%= image_tag("comingsoon") %></a>
    <h3 class="imageHeaderH3"><%= val.name %></h3>
    <h4 class="imageHeaderH4"><%= val.name %></h4>
  </div>
<% else %>
	<div class="col-md-3 hotelBox">
		<a href="/hotels/<%= val.id %>"><%= image_tag("#{val.image}") %></a>
		<h3 class="imageHeaderH3"><%= val.name %></h3>
    <h4 class="imageHeaderH4"><%= val.name %></h4>
	</div>
  <% end %>
	<% if y == 3 %>
			</div>
			<div class="row hotelBoxRow" data-turbolinks="false">
		<% else %>
	<% end %>
	<% y += 1 %>
<% end %>
</div>
<div class="row pagRow">
	<div class="col-md-12">
		<%= will_paginate @hotels %>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    $('.hotel_scroll').on('click', function(){
        // alert('hello');
  $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    })
  })
		var prev_infowindow = false;
		function initMap() {
        var palmSprings = {lat: 33.745525, lng: -116.363321};
        var zoomPos = {lat: 33.801738, lng: -116.467185}
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          scrollwheel: false,
          center: zoomPos
        });
        var markerField = new google.maps.Marker({
        	position: palmSprings,
        	map: map,
        	icon: "<%= escape_javascript asset_path('oasiscuplogoicon.png') %>",
        	title: 'Hovley Soccer Park'
        })
        var contentString = '<div id="content" class="infoWindowContent">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="mapHeading"><a href="http://www.cityofpalmdesert.org/Home/Components/FacilityDirectory/FacilityDirectory/8/940"  target="_blank">Hovley Soccer Park</a></h3>'+
            '<a href="http://www.cityofpalmdesert.org/Home/Components/FacilityDirectory/FacilityDirectory/8/940" target="_blank" class="map_image"><%= image_tag("park_map_image.jpeg") %></a>'+
            '<div id="bodyContent" class="bodyContent">'+
            '<p class="descriptionP"><a href="http://www.cityofpalmdesert.org/Home/Components/FacilityDirectory/FacilityDirectory/8/940"  target="_blank">' +
            'Hovley Soccer Park has full-sized fields for soccer tournaments, plus equipment and space for other activities. The 21-acre park includes five full-size soccer fields, a disc golf course, playground and concession stand.' +
            '</a></p>' +
            '</div>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 400,
          minHeight: 250
        });
        markerField.addListener('click', function() {
          if(prev_infowindow){
          	prev_infowindow.close();
          }
          infowindow.open(map, markerField);
          prev_infowindow = infowindow
        });
        var legend = document.getElementById('legend');
	      var div = document.createElement('div');
	      div.innerHTML = "<span class='fieldKey keys'><img src='<%= escape_javascript asset_path('oasiscuplogoiconkey.png') %>'>Hovley Soccer Park</span>";
	      legend.appendChild(div);

        $('.fieldKey').on('click', function(){
          if(prev_infowindow){
          	prev_infowindow.close();
          }
          infowindow.open(map, markerField);
          prev_infowindow = infowindow
        })

        <% @hotelsAll.each do |val| %>
        <% if val.shelved %>
        <% else %>
        var pos<%= val.id %> = {lat: <%= val.lat %>, lng: <%= val.long %>};

        var marker<%= val.id %> = new google.maps.Marker({
          position: pos<%= val.id %>,
          map: map,
          title: "<%= val.name %>"
        });

        var contentString<%= val.id %> = '<div id="content" class="infoWindowContent">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="mapHeading"><a href="hotels/<%= val.id %>"><%= val.name %></a></h3>'+
            '<a href="/hotels/<%= val.id %>" class="map_image"><%= image_tag("#{val.image}") %></a>' +
            '<div id="bodyContent" class="bodyContent">'+
            '<p class="descriptionP"><a href="hotels/<%= val.id %>">' +
            '<%= val.description %>' +
            '</a></p>' +
            '</div>'+
            '<h3 class="mapHeading bookHeading"><a href="hotels/<%= val.id %>">Book Rooms</a></h3>'+
            '</div>';
        var infowindow<%= val.id %> = new google.maps.InfoWindow({
          content: contentString<%= val.id %>,
          maxWidth: 400,
          minHeight: 250
        });
        marker<%= val.id %>.addListener('click', function() {
          if(prev_infowindow){
          	prev_infowindow.close();
          }
          infowindow<%= val.id %>.open(map, marker<%= val.id %>);
          prev_infowindow = infowindow<%= val.id %>
        });

        var legend = document.getElementById('legend');
	      var div = document.createElement('div');
	      div.innerHTML = "<span class='holidayInnKey<%= val.id %> keys'><img src='https://maps.google.com/mapfiles/ms/icons/red-dot.png'>" + "<%= val.name %></span>";
	      legend.appendChild(div);

        $('.holidayInnKey<%= val.id %>').on('click', function(){
          if(prev_infowindow){
          	prev_infowindow.close();
          }
          infowindow<%= val.id %>.open(map, marker<%= val.id %>);
          prev_infowindow = infowindow<%= val.id %>
        })
        <% end %>
        <% end %>
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(legend);

      }
    // });
	$(document).on('turbolinks:load', function() {
		// initMap();
	})
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoGMPOpQH15g01IyT8sEixBSGrunT4GDY&callback=initMap"></script>