<style type="text/css">
	tr{
		/*padding: 1%;*/
	}
	td{
		padding: 8px;
	}
	th{
		padding: 8px;
	}
	#roomSearchForm input{
		display: inline;
	}
	.hotelImg img{
		height: 400px;
		padding-left: 0px;
		width: 100%;
		/*text-align: right;*/
	}
	.hotelImg{
		padding: 0px;
	}
	#map{
		height: 400px;
	}
	.form-check{
		display: inline;
	}
	.searchbtn{
		margin-left: 1%;
	}
	.table>thead>tr>th {
		 border-bottom: none; 
	}
	.infoRow{
		height: auto;
	    background-color: #f9f9f9;
	}
	.pagination{
		margin-top: 0px;
	}
	.infoDiv{
	    padding: 2%;
    	height: 150px;
    }
    .infoDiv h5{
    	text-align: center;
    }
    .infoRow{
    	/*height: 200px;*/
    }
    .roomBtn{
    	margin-left: 1%;
    	/*display: block;*/
    	/*text-align: center;*/
    }
    .searchRow{
    	text-align: center;
    	background-color: #e9f2f8;
    	padding: 1%;
    	margin-top: 1%;
    }
    .hotelNameHeader{
    	margin-left: 15px;
    	margin-bottom: 20px;
    	display: inline-block;
    }
    .tableRow{
    	margin-top: 1%;
    }
    .roomCol{
    	text-align: center;
    	height: 265px;
    	margin-bottom: 2%;
    	background-color: #e9f2f8;
    	padding: 2%;
	    border: 1px solid #eee;
	    box-shadow: 2px 2px 2px #eee;
    }
    .roomCol h3{

    }
    .amountLeft{
    	top: 0%;
	    right: 2%;
	    position: absolute;
    }
    .amountToAdd{
    	display: inline;
    	width: 35px;
    }
    .flash3{
    	display: inline-block;
    	float: right;
    }
    .bottomRow{
    	/*margin-bottom: 5%;*/
    }
    footer{
      background-color: #0275d8;
      position: relative;
      bottom: 0;
      /*left: 0;*/
      width: 100%;
      margin-top: 2%;
    }
    body{
      padding-bottom: 0px;
    }
    .noRooms{
    	margin-top: 25%;
    }
    .infoDiv p{
    	margin-top: 10px;
    }
    table button{
    	width: auto;
    	display: inline-block;
    }
    .hotel-table-row td{
    	vertical-align: middle !important;
    	padding: 0px;
    }
</style>
	<h3 class="hotelNameHeader"><%= @hotel.name %></h3>
	<% if flash[:cart_created] %>
	<h3 class="flash3">Added to <a href="/cart">cart!</a></h3>
	<% end %>
	<% if flash[:errors] %>
		<% flash[:errors].each do |val| %>
			<p><%= val %></p>
		<% end %>
	<% end %>
<div class="row">
	<div class="col-md-6 hotelImg">
		<%= image_tag("#{ @hotel.image }") %>
	</div>
	<div class="col-md-6" id="map">
	</div>
</div>
<div class="row infoRow">
	<div class="col-md-9 infoDiv">
		<p><%= @hotel.description %></p>
	</div>
	<div class="col-md-3 infoDiv">
		<!-- <h4>Phone Number: <%= @hotel.phone %></h4> -->
		<h5><%= @hotel.address %></h5>
		<h5><%= @hotel.city %>, <%= @hotel.state %> <%= @hotel.zip %></h5>
		<h5>Check In: <%= @hotel.checkin %></h5>
		<h5>Check Out: <%= @hotel.checkout %></h5>
	</div>
</div>
<!-- <div class="row searchRow">
<div class="col-md-12">
	<form class="form-inline" action="/rooms/search/<%= @hotel.id %>" method="post" id="roomSearchForm">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-check form-check-inline">
	  <label class="form-check-label">
	    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="2" /> Double Queens
	  </label>
	</div>
	<div class="form-check form-check-inline">
	  <label class="form-check-label">
	    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="3" /> King
	  </label>
	</div>
	<div class="form-check form-check-inline">
	  <label class="form-check-label">
	    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="4" /> Cheapest
	  </label>
	</div>
	<button type="submit" class="btn btn-primary btn-md roomBtn">Search Rooms!</button>
	</form>
</div>
</div> -->
    <div class="row bottomRow">
    <% x = 0 %>
    <% if @roomTypes.length == 0 %>
    		<div class='col-md-4'>
    		</div>
    		<div class="col-md-4 roomCol">
				<h4 class="noRooms">No Rooms Available</h4>
			</div>
			<div class="col-md-4">
			</div>
    <% else %>
	    <div class="col-sm-12">
		    <table class="table hotel-table">
		    <thead>
		    	<tr>
			    	<th>Room Type</th>
			    	<th>Price</th>
			    	<th>Smoking</th>
			    	<th>Occupancy</th>
			    	<th>Ammount Available</th>
			    	<th></th>
		    	</tr>
		    </thead>
		    <% @roomTypes.each do |val| %>
		    	<% @room = Hotel.find(params[:id]).rooms.find_by(room_type: val) %>
		    	<tr class="hotel-table-row">
			    	<td><%= @room.room_type %></td>
			    	<td><span class="green"><%= number_to_currency(@room.price, :precision => 2) %></span> per night</td>
			    	<td><%= @room.smoking %></td>
			    	<td><%= @room.occupancy_a %> Adults <% if @room.occupancy_c %>/ <%= @room.occupancy_c %> Children<% end %></td>
			    	<td>Only <%= Hotel.find(params[:id]).rooms.where(room_type: val).count %><br>Left!</td>
			    	<td>
					<form action="/cart/create/<%= @room.id %>" method="POST">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type="hidden" name="price" value="<%= @room.price %>">
						<input type="hidden" name="number" value="<%= @room.number %>">
						<input type="hidden" name="smoking" value="<%= @room.smoking %>">
						<input type="hidden" name="room_type" value="<%= @room.room_type %>">
						<input type="hidden" name="hotel_id" value="<%= @room.hotel.id %>">
						<input type="hidden" name="user_id" value="<%= session[:user_id] %>">
						<input type="hidden" name="occupancy_a" value="<%= @room.occupancy_a %>">
						<input type="hidden" name="occupancy_c" value="<%= @room.occupancy_c %>">
						<input type="number" name="amount" value="1" class="amountToAdd" min="1" max="<%= Hotel.find(params[:id]).rooms.where(room_type: val).count %>">
						<button type="submit" class="btn btn-primary">Add To Cart</button>
					</form>
			    	</td>
			    </tr>
		    <% end %>
		    </table>
	    </div>
    <% end %>
    </div>
<!-- <a href="/hotels/edit/<%= @hotel.id %>">Edit</a> -->
<!-- <h3>Register room for this hotel:</h3>
<form action="/rooms/create" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Price: <input type="text" name="room[price]">
	Number: <input type="number" name="room[number]">
	Smoking: <input type="text" name="room[smoking]">
	Type: <input type="text" name="room[room_type]">
	Occupancy_a: <input type="number" name="room[occupancy_a]">
	Occupancy_c: <input type="number" name="room[occupancy_c]">
	Description: <input type="text" name="room[description]">
	<input type="hidden" name="room[hotel_id]" value="<%= @hotel.id %>">
	<input type="submit" value="submit">
</form> -->
<script type="text/javascript">
		function initMap() {
        var palmSprings = {lat: <%= @hotel.lat %>, lng: <%= @hotel.long %>};
        var fieldLocation = {lat: 33.745525, lng: -116.363321};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          scrollwheel: false,
          center: palmSprings
        });
        var marker = new google.maps.Marker({
          position: palmSprings,
          map: map,
          title: '<%= @hotel.name %>'
        });
        var markerField = new google.maps.Marker({
        	position: fieldLocation,
        	map: map,
        	icon: "<%= escape_javascript asset_path('oasiscuplogoicon.png') %>",
        	title: 'Hovley Soccer Park'
        })
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoGMPOpQH15g01IyT8sEixBSGrunT4GDY&callback=initMap"></script>