<style type="text/css">
	tr{
		/*padding: 1%;*/
	}
	td{
		padding: 8px;
	}
	th{
		padding: 8px;
	}
	#roomSearchForm input{
		display: inline;
	}
	.hotelImg img{
		height: 400px;
	}
	#map{
		height: 400px;
	}
	.form-check{
		display: inline;
	}
	.searchbtn{
		margin-left: 1%;
	}
	.table>thead>tr>th {
		 border-bottom: none; 
	}
	.infoRow{
		padding-left: 15px;
	}
	.pagination{
		margin-top: 0px;
	}
	.infoDiv{
	    padding: 2%;
    	height: 150px;
    }
    .infoDiv h4{
    	text-align: center;
    }
    .infoRow{
    	height: 200px;
    }
</style>
<h3><%= @hotel.name %></h3>
<div class="row">
	<div class="col-md-6 hotelImg">
		<%= image_tag("#{ @hotel.image }") %>
	</div>
	<div class="col-md-6" id="map">
	</div>
</div>
<div class="row infoRow">
	<div class="col-md-4 infoDiv">
		<h4><%= @hotel.address %></h4>
		<h4><%= @hotel.city %>, <%= @hotel.city %> <%= @hotel.zip %></h4>
	</div>
	<div class="col-md-4 infoDiv">
		<!-- <h4>Hotel <a href="<%= @hotel.website %>">Website</a></h4> -->
		<h4>Phone Number: <%= @hotel.phone %></h4>
	</div>
	<div class="col-md-4 infoDiv">
		<p><%= @hotel.description %></p>
	</div>
</div>
<!-- <div class="row">
<div class="col-md-12">
	<form class="form-inline" action="/rooms/search/<%= @hotel.id %>" method="post" id="roomSearchForm">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class="form-check form-check-inline">
		  <label class="form-check-label">
		    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="1" /> Single
		  </label>
		</div>
		<div class="form-check form-check-inline">
		  <label class="form-check-label">
		    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="2" /> Double
		  </label>
		</div>
		<div class="form-check form-check-inline">
		  <label class="form-check-label">
		    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="3" /> Suite
		  </label>
		</div>
		<div class="form-check form-check-inline">
		  <label class="form-check-label">
		    <input class="form-check-input" type="checkbox" name="tag_ids[]" value="4" /> Cheapest
		  </label>
		</div>
		<button type="submit" class="btn btn-primary searchbtn">Search Rooms</button>
	</form>
</div>
</div> -->
<div class="row">
<div class="col-md-12">
<h4>Rooms:</h4>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Room Price</th>
			<th>Room Number</th>
			<th>Smoking</th>
			<th>Type</th>
			<th>Occupancy</th>
		</tr>
	</thead>
	<tbody>
		<% @rooms.each do |val| %>
		<tr>
		<td><%= val.price %></td>
		<td><%= val.number %></td>
		<td><%= val.smoking %></td>
		<td><%= val.room_type %></td>
		<td><%= val.occupancy_a %></td>
			<% @cartNumberArr.each do |c| %>
				<% if val.number == c %>
				<% @found = true %>
				<td>Room Is In Your Cart!</td>
				<% else %>
				<% end %>
			<% end %>
		<% if @found %>
		<% else %>
		<td>
			<form action="/cart/create/<%= val.id %>" method="POST">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="cart[price]" value="<%= val.price %>">
				<input type="hidden" name="cart[number]" value="<%= val.number %>">
				<input type="hidden" name="cart[smoking]" value="<%= val.smoking %>">
				<input type="hidden" name="cart[room_type]" value="<%= val.room_type %>">
				<input type="hidden" name="cart[hotel_id]" value="<%= val.hotel.id %>">
				<input type="hidden" name="cart[user_id]" value="<%= session[:user_id] %>">
				<input type="hidden" name="cart[occupancy_a]" value="<%= val.occupancy_a %>">
				<button type="submit" class="btn btn-primary">Add To Cart</button>
			</form>
		</td>
		<% end %>
		<% @found = false %>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>
</div>
<div class="row pagRow">
<div class="col-md-12">
	<%= will_paginate @rooms %>
</div>
</div>
<h3>Register room for this hotel:</h3>
<form action="/rooms/create" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Price: <input type="text" name="room[price]">
	Number: <input type="number" name="room[number]">
	Smoking: <input type="text" name="room[smoking]">
	Type: <input type="text" name="room[room_type]">
	Occupancy_a: <input type="number" name="room[occupancy_a]">
	<input type="hidden" name="room[hotel_id]" value="<%= @hotel.id %>">
	<input type="submit" value="submit">
</form>
<script type="text/javascript">
		function initMap() {
        var palmSprings = {lat: <%= @hotel.lat %>, lng: <%= @hotel.long %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: palmSprings
        });
        var marker = new google.maps.Marker({
          position: palmSprings,
          map: map,
          title: '<%= @hotel.name %>'
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoGMPOpQH15g01IyT8sEixBSGrunT4GDY&callback=initMap"></script>