<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="turbolinks-cache-control" content="no-cache">
    <title>Oasis Cup Palm Desert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js""></script>
    <script type="text/javascript">
      jQuery.extend(jQuery.validator.messages, {
        equalTo: "Please re-enter your password."
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97369376-1', 'auto');
      ga('send', 'pageview');

    </script>
  <style>
    table{
      text-align: center;
    }
    th{
      text-align: center;
    }
    .container{
      /*margin: 0px auto;*/
    }
/*  	#header a{
  		display: inline;
  	}*/
    input{
      display: block;
    }
    tr{
      /*padding: 1%;*/
    }
    td{
      padding: 8px;
    }
    th{
      padding: 8px;
    }
    .green{
      color: green;
    }
    table button{
      width: 100%;
    }
    .example3 nav{
      background-color: #0275d8;
    }
    .example3 nav a{
      color: white;
    }
    .navbar-brand:hover{
      color: white;
      /*background-color: white;*/
    }
    .navbar-brand{
      /*padding: 0px 15px;*/
    }
    /* EXAMPLE 3

    line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

    .example3 .navbar-brand {
      /*height: 90px;*/
    }

    .example3 .nav >li >a {
      /*font-size: 1.3em;*/
      /*padding-top: 40px;*/
      /*padding-bottom: 40px;*/
    }
    .example3 .navbar-toggle {
      padding: 10px;
      margin: 25px 15px 25px 0;
    }
    .loginReg{
      float: right;
      margin: 0 2%;
    }
   .example3 ul.nav a:hover { 
      color: white !important;
      background-color: #0275d8;
    }
   .example3 .nav .open>a {
      color: white !important;
      background-color: #0275d8 !important;
    }
    /* Braintree Paypal Disable: */
    .payment-method-options{
      display: none;
    }
   .navbar{
      margin-bottom: 0px;
    }
    .dropdown-menu li a{
      background-color: white;
      color: black;
    }
    .dropdown-menu li:hover{
      background-color: white;
      color: black;
    }
    .navbar-brand-logo{
      padding: 5px 5px;
    }
    .navbar-brand-text{
      padding: 15px 5px;
    }
    body { 
      padding-top: 50px; 
    }
    .footerDiv{
      background-color: #0275d8;
      color: white;
      padding-top: 5px;
    }
    footer{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  .navbar-toggle{
    background-color: white;
  }
.icon-bar {
    background-color: #0275d8 !important;
}

@media (max-width: 1999px) {
  .landingimg img{
    width: 100%;
  }
}

@media (max-width: 1164px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-toggle{
      margin: 1% !important;
    }
    .container{
      /*margin-top: 50px;*/
    }
    .navbar-brand img{
      width: 70%;
      position: relative;
      z-index: 1000;
    }
    .navbar-brand{
      font-size: 16px;
      padding: 15px 0px;
    }
/*    .container{

    }*/
/*  #navbar3{
    margin-left: 15%;
  }*/
}
@media (max-width: 671px) {
  .radioCell{
    display: block;
  }
}

@media (max-width: 991px) {
  .hotelBox{
    display: inline-block;
  }
  .hotelBoxRow{
    text-align: center;
  }
  .imageHeaderH3{
    display: none;
  }
  .imageHeaderH4{
    display: block !important;
  }
  .hotelImg{
    text-align: center;
    margin-bottom: 2%;
  }
  .hotelImg img{
    height: 50% !important;
    width: 100%;
  }
  .infoRow{
    height: auto !important;
  }
  .infoDiv{
    height: auto !important;
  }
  .hotelNameHeader{
    text-align: center;
  }
  .header-img{
    display: none !important;
  }
  .text{
    padding: 2% !important;
  }
}

@media (max-width: 768px){
  .navbar-brand img{
    display: none;
  }
  .navbar-brand-text{
    margin-left: 10px;
  }
  #legend{
    display: none;
  }
    .loginReg{
      text-align: center !important;
      float: none !important;
    }
  .countForm button{
    display: inline-block;
  }
/*  .navText{
    float: none;
    padding: 0px;
    display: inline-block;
    height: auto;
    width: auto;
     margin-top: 5%; 
    vertical-align: bottom;
    margin-top: 2%;
  }
  .navbar-header{
    text-align: center;
  }*/
}

@media(max-width: 750){
/*  li{
    float: right !important;
  }*/
/*  .nav-item{
    float: none !important;
  }*/
}

/*@media(max-width: 768){
    .loginReg{
      text-align: center !important;
      float: none !important;
    }
}*/

  </style>
  </head>

  <body>
  <% if session[:user_id] %>
  <div class="example3">
  <nav class="navbar navbar-dark navbar-fixed-top" data-turbolinks="false">
    <!-- <div class="container"> -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed white" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-logo" href="/"><%= image_tag("oasiscuplogo4.png") %></a><a class="navbar-brand navbar-brand-text navText" href="/">Oasis Cup Palm Desert
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav loginReg">
          <li class="nav-item">
            <a href="/hotels" class="nav-link" data-turbolinks="false">Book Rooms</a>
          </li>
          <li class="nav-item">
            <a href="/info" class="nav-link" data-turbolinks="false">Tournament Info</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guest List <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guests/user">My Guests</a></li>
              <li><a href="/guests/show">My Teams Guests</a></li>
              <li><a href="/guests/new">Add Guests</a></li>
<!--               <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <!-- <a href="/rooms" class="nav-link">Make Reseveration</a> -->
          </li>
          <li class="nav-item">
            <a href="/cart" class="nav-link" data-turbolinks="false">Cart</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Booked Rooms<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/booked">My Booked Rooms</a></li>
              <li><a href="/booked/teams">My Teams Booked Rooms</a></li>
<!--               <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a href="/users/update/<%= session[:user_id] %>" class="nav-link">Edit User</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link" data-turbolinks="false">Logout</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-turbolinks="false">Contact</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    <!-- </div> -->
    <!--/.container-fluid -->
  </nav>
</div>

<!--   <nav class="navbar navbar-default" class="nav-link">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a href="/users/update/<%= session[:user_id] %>" class="nav-link">Update User</a>
      </li>
      <li class="nav-item">
        <a href="/hotels/new" class="nav-link">Register Hotel</a>
      </li>
      <li class="nav-item">
        <a href="/hotels" class="nav-link">View Hotels</a>
      </li>
      <li class="nav-item">
        <a href="/rooms" class="nav-link">Make Reseveration</a>
      </li>
      <li class="nav-item">
        <a href="/cart" class="nav-link">Cart</a>
      </li>
      <li class="nav-item">
        <a href="/booked" class="nav-link">My Booked Rooms</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
    </div>
  </nav> -->
  <% else %>
  <div class="example3">
  <nav class="navbar navbar-light navbar-fixed-top">
    <!-- <div class="container"> -->
      <div class="navbar-header">
<!--         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" href="/"><%= image_tag("logo3.png") %><a class="navbar-brand navbar-brand-text" href="/">Oasis Cup Palm Desert
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
<!--     <ul class="nav navbar-nav loginReg">
      <li class="nav-item">
        <a href="/users/new" class="nav-link" data-turbolinks="false">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">Login</a>
      </li>
    </ul> -->
      </div>
      <!--/.nav-collapse -->
    <!-- </div> -->
    <!--/.container-fluid -->
  </nav>
</div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
<!--   <footer class="footer">
    <div class="col-md-12 footerDiv">
      <p>Footer Content</p>
    </div>
  </footer> -->
  </body>
</html>
